<template>
  <div class="tm-personCardInfo__root">
    <div @click="openModal()" :style="`height:${avatarHeight}px`" class="tm-personCardInfo__avatar">
      <nuxt-img fit="crop" width="370" height="370" :src="`${String(img)}`" loading="lazy"></nuxt-img>
      <div class="tm-personCardInfo__avatar-bg">
        <div class="tm-personCardInfo__avatar-stem">
          <img src="~/assets/img/svg/partners/mail.svg" alt="mail" />
        </div>
      </div>
    </div>
    <div class="flex flex-col mb-6">
      <div class="tm-personCardInfo__name">{{name}}</div>
      <div class="tm-personCardInfo__position">{{position}}</div>
    </div>
    <div class="tm-personCardInfo__contacts">
      <div class="text-lg font-semibold leading-5">Контактные данные:</div>
      <div class="tm-personCardInfo__contacts-wrapper">
        <div
          v-for="(number,idx) in getPhone"
          :key="`number-id-${idx}`"
          class="flex items-center space-x-2"
        >
          <img class="w-5 h-5" src="~/assets/img/png/partners/phone.png" alt />
          <span>{{number}}</span>
        </div>
        <div
          v-for="(mail,idx) in getEmail"
          :key="`mail-id-${idx}`"
          class="flex items-center space-x-2"
        >
          <img class="w-5 h-5" src="~/assets/img/png/partners/mail.png" alt />
          <span>{{mail}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PersonInfoCard",

  emits: ["openModal"],

  props: {
    img: [Number, String],
    name: String,
    position: String,
    phone: String,
    email: String,
    avatarHeight: {
      type: String,
      default: "300",
    },
  },
  computed: {
    getPhone() {
      return this.phone.split("<br/>");
    },
    getEmail() {
      return this.email.split("<br/>");
    },
  },

  methods: {
    openModal() {
      this.$emit("openModal");
    },
  },
};
</script>

<style lang="scss">
.tm-personCardInfo__root {
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "helveticanouanormal", Sans-serif;
}
.tm-personCardInfo__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover .tm-personCardInfo__avatar-bg {
    color: #ddd;
    font-size: 46px;
    opacity: 1;
  }

  & > img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.tm-personCardInfo__avatar-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  z-index: 2;
  background-color: rgba(170, 72, 171, 0.48);
  opacity: 0;
  transition: all 0.5s ease;
}

.tm-personCardInfo__avatar-stem {
  width: 45px;
  height: 45px;
}

.tm-personCardInfo__name {
  color: #000;
  font-family: "helveticanouanormal", Sans-serif;
  font-weight: 600;
  font-size: 1.625rem;
  margin-bottom: 20px;
}

.tm-personCardInfo__position {
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 17px;
  font-style: italic;
  line-height: 24px;
  color: #7a7a7a;
}

.tm-personCardInfo__contacts-wrapper {
  img {
    margin: 0;
  }
}

.tm-personCardInfo__contacts {
}
</style>