<template>
  <base-modal :width="600" :minWidth="320" :name="name" class="h-full">
    <template #header>
      <span>{{label}}</span>
    </template>
    <template>
      <div class="flex flex-col overflow-y-scroll h-full pb-3">
        <div v-for="(city,idx) in citiesList" :key="`cit-index-${idx}`">
          <nuxt-link :to="`/salony-optiki/${city.sub_domain}`">{{city.city_name}}</nuxt-link>
        </div>
      </div>
    </template>
  </base-modal>
</template>

<script>
import BaseModal from "~/components/modals/BaseModal.vue";
import { sortCities } from "~/helpers/citiesSortArray.js";

import { mapState } from "vuex";
export default {
  name: "citiesListModal",

  data() {
    return {
      citiesList: [],
    };
  },

  computed: {
    ...mapState({
      cities: (state) => state.cities.cities,
    }),
  },

  async mounted() {
    await this.$store.dispatch("cities/getCities");

    this.citiesList = sortCities(this.cities);
  },

  components: {
    BaseModal,
  },
  props: {
    name: {
      type: String,
      requared: true,
    },

    label: {
      type: String,
    },
  },
};
</script>

<style>
</style>