<template>
  <div>
    <div>
      <div
        @click="onClickItem(menu)"
        class="tm-mobile__items py-3 pl-4 pr-5 border-b border-gray-300"
      >
        {{menu.title}}
        <span v-if="isHasChildren" class="tm-mobileMenu__arrowNext"></span>
      </div>
    </div>

    <MobileHeaderDop
      v-if="currentItem"
      :name="`MobileHeaderDop-${ menu.title }`"
      :isShowMobileMenu="isShoweMobileMenu"
      :menu="currentItem"
      @onCloseMenu="closeMobileMenu()"
    >
      <template #top="{closeMenu}">
        <div class="flex justify-between py-4 pl-5 pr-5 items-center border-b border-gray-300">
          <div
            @click="onBack()"
            class="text-base font-bold font-GothamPro whitespace-nowrap tm-mobile__back"
          >Назад</div>

          <div @click="closeMenu" class="flex justify-center items-center text-xl text-gray-300">X</div>
        </div>
      </template>
    </MobileHeaderDop>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentItem: [],
      isShoweMobileMenu: false,
    };
  },

  components: {
    MobileHeaderDop: () =>
      import("~/components/common/mobile-header/MobileHeader.vue"),
  },

  emits: ["closeMenu"],

  props: {
    menu: {
      type: [Array, Object],
      default() {
        return [];
      },
    },
  },

  computed: {
    isHasChildren() {
      return this.menu?.hasChildren;
    },
  },

  methods: {
    onClickItem(item) {
      if (!item.hasChildren) {
        this.$router.push(`/${item.path}`);
        this.$emit("closeMenu");

        return null;
      }
      this.currentItem = item?.children || [];
      this.isShoweMobileMenu = true;
    },

    closeMobileMenu() {
      this.isShoweMobileMenu = false;
      this.$emit("closeMenu");
    },

    onBack() {
      this.isShoweMobileMenu = false;
      this.currentItem = [];
    },
  },
};
</script>

<style lang="scss">
.tm-mobile__items {
  font-family: "Intro";
  font-size: 13px;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  color: #000;
  text-decoration: none;
}

.tm-mobileMenu__arrowNext {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;

    border-right: solid 2px #000;
    border-top: solid 2px #000;
    right: 0px;
    top: 50%;
    margin-top: -4px;

    transform: rotate(45deg);
  }
}
</style>