<template>
  <div :class="{'__open' : !!isShowMobileMenu}" class="tm-mobileHeader">
    <div class="tm-ovewflow">
      <slot name="top" :closeMenu="onCloseMenu"></slot>

      <slot>
        <client-only>
          <div v-for="item in menu" :key="`${item.title}`">
            <MobileMenuItem @closeMenu="onCloseMenu()" :menu="item" />
          </div>
        </client-only>
      </slot>

      <slot name="bottom">
        <div
          @click="toProfile()"
          to="/profile"
          class="tm-header__top-profile flex items-center space-x-2"
        >
          <img src="~assets/img/svg/header/profile.svg" />
          <span class="font-GothamPro">Вход для партнёров</span>
        </div>
      </slot>
    </div>
  </div>
</template>

<script>
import MobileMenuItem from "~/components/common/mobile-header/MobileMenuItem.vue";

export default {
  name: "MobileHeader",

  emits: ["onCloseMenu"],

  data() {
    return {};
  },

  components: {
    MobileMenuItem,
  },

  watch: {
    isShowMobileMenu() {
      if (this.isShowMobileMenu) {
        document.body.style = "overflow: hidden";
      } else {
        document.body.style = "";
      }
    },
  },

  props: {
    menu: {
      type: Array,
      default() {
        return [];
      },
    },

    isShowMobileMenu: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    onCloseMenu() {
      this.$emit("onCloseMenu");
    },

    toProfile() {
      this.onCloseMenu();
      this.$router.push("/profile");
    },
  },
};
</script>

<style lang="scss">
.tm-mobileHeader {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  transform: translateX(-100%) translateY(0) translateZ(0);
  transition: all 0.4s linear;
  height: 100%;
  z-index: 10;
  &.__open {
    transform: translateX(0%) translateY(0) translateZ(0);
  }
}

.tm-ovewflow {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.tm-header__top-profile {
  padding: 12px 16px;
  span {
    font-size: 14px;
    color: #999;
  }
}

.tm-mobile__back {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
    left: -10px;
    top: 50%;
    margin-top: -3px;
    transform: rotate(45deg);
  }
}
</style>