<template>
  <section class="tm-statPartnerom">
    <SPage :breadcrumbs="getBreadcrumbs" />
    <div class="h1">Стать партнером</div>
    <div class="tm-statPartnerom__form-wrapper">
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>
              Название компании
              <i>*</i>
            </span>
          </label>
          <span
            v-if="$v.form['Название компании'].$dirty"
            class="text-red-500 text-[11px] sm:text-xs"
          >
            <span v-if="!$v.form['Название компании'].required">Обязательно к заполнению</span>
          </span>
        </div>
        <input
          v-model.trim="$v.form['Название компании'].$model"
          placeholder="Название компании"
          type="text"
          class="modal-form-item__input"
        />
      </div>

      <!-- Фамилия -->
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>
              Фамилия
              <i>*</i>
            </span>
          </label>
          <span v-if="$v.form['Фамилия'].$dirty" class="text-red-500 text-[11px] sm:text-xs">
            <span v-if="!$v.form['Фамилия'].required">Обязательно к заполнению</span>
          </span>
        </div>
        <input
          v-model.trim="$v.form['Фамилия'].$model"
          placeholder="Фамилия"
          type="text"
          class="modal-form-item__input"
        />
      </div>
      <!--  Имя -->
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>
              Имя
              <i>*</i>
            </span>
          </label>
          <span v-if="$v.form['Имя'].$dirty" class="text-red-500 text-[11px] sm:text-xs">
            <span v-if="!$v.form['Имя'].required">Обязательно к заполнению</span>
          </span>
        </div>
        <input
          v-model.trim="$v.form['Имя'].$model"
          placeholder="Имя"
          type="text"
          class="modal-form-item__input"
        />
      </div>

      <!-- Отчество -->
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>Отчество</span>
          </label>
        </div>
        <input
          v-model.trim="form['Отчество']"
          placeholder="Отчество"
          type="text"
          class="modal-form-item__input"
        />
      </div>
      <!-- ИНН -->
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>ИНН</span>
          </label>
        </div>
        <input
          v-model.trim="form['ИНН']"
          placeholder="ИНН"
          type="number"
          class="modal-form-item__input"
        />
      </div>

      <!-- Город -->
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>
              Город
              <i>*</i>
            </span>
          </label>
          <span v-if="$v.form['Город'].$dirty" class="text-red-500 text-[11px] sm:text-xs">
            <span v-if="!$v.form['Город'].required">Обязательно к заполнению</span>
          </span>
        </div>
        <input
          v-model.trim="$v.form['Город'].$model"
          placeholder="Город "
          type="text"
          class="modal-form-item__input"
        />
      </div>

      <!-- Телефон -->
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>
              Телефон
              <i>*</i>
            </span>
          </label>
          <span v-if="$v.form['Телефон'].$dirty" class="text-red-500 text-[11px] sm:text-xs">
            <span v-if="!$v.form['Телефон'].required">Обязательно к заполнению</span>
          </span>
        </div>
        <input
          v-model.trim="$v.form['Телефон'].$model"
          placeholder="+7(___)-___-__-__"
          v-mask="'+7(###)-###-##-##'"
          type="text"
          class="modal-form-item__input"
        />
      </div>
      <!--  E-mail -->
      <div class="tm-statPartnerom__form-item">
        <div class="flex justify-between mb-1">
          <label class="text-[13px] leading-[120%] max-w-xs">
            <span>
              E-mail
              <i>*</i>
            </span>
          </label>
          <span v-if="$v.form.email.$dirty" class="text-red-500 text-[11px] sm:text-xs">
            <span v-if="!$v.form.email.required">Обязательно к заполнению</span>
            <span v-else-if="!$v.form.email.email">Неверный email</span>
          </span>
        </div>
        <input
          v-model.trim="$v.form.email.$model"
          placeholder="E-mail"
          type="text"
          class="modal-form-item__input"
        />
      </div>
    </div>
    <button :disabled="isLoading" @click="onSubmitForm" class="tm-btn__primary">Отправить</button>
  </section>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import SPage from "~/components/page/SPage.vue";

export default {
  name: "StatPartnerom",
  data() {
    return {
      isLoading: false,

      form: {
        "Название компании": "",
        Фамилия: "",
        Имя: "",
        Отчество: "",
        ИНН: "",
        Город: "",
        Телефон: "",
        email: "",
      },
    };
  },

  validations: {
    form: {
      "Название компании": { required },
      Фамилия: { required },
      Имя: { required },

      Город: { required },
      Телефон: { required },
      email: { required, email },
    },
  },

  components: {
    SPage,
  },

  computed: {
    getBreadcrumbs() {
      let breadcrumbs = [
        { title: "Главная", path: "/" },
        {
          title: "Стать партнером",
          path: `/stat-partnerom`,
        },
      ];

      return breadcrumbs;
    },
  },

  methods: {
    async onSubmitForm() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return null;
      }

      this.isLoading = true;
      const newForm = { ...this.form };

      let body = {};
      body.type = "Стать партнером";
      body.nophone = 1;

      body.message = Object.keys({ ...newForm })
        .map((key) => {
          return `${key}: ${newForm[key] || "[не заполнено]"}`;
        })
        .join("<br />");

      const res = await this.$api.agent.transport
        .post("form/send", body)
        .then((res) => {
          return res.data;
        })
        .catch((err) => {
          return { error: err.response };
        });

      this.$toast.success("Успешно отправлено");
      this.form = {
        "Название компании": "",
        Фамилия: "",
        Имя: "",
        Отчество: "",
        ИНН: "",
        Город: "",
        Телефон: "",
        email: "",
      };
      this.$v.$reset();
      this.isLoading = false;
    },
  },
};
</script>

<style lang="scss">
.tm-statPartnerom {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 15px;
}

.tm-statPartnerom__form-wrapper {
  display: flex;
  margin-left: -20px;
  flex-wrap: wrap;

  @media (max-width: 640px) {
    margin-left: 0px;
  }

  & > div {
    margin-left: 20px;
    width: calc(50% - 20px);
    margin-bottom: 25px;

    @media (max-width: 640px) {
      margin-left: 0;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  label > span i {
    color: #ff3131;
    font-style: normal;
  }

  .modal-form-item__input {
    height: 46px;
    max-width: 100%;
    width: 100%;
    padding: 8px;
    background: #fff;
    color: #000;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 2px solid var(--c-primary);
    }

    &:focus-visible {
      outline: none;
      border: 2px solid var(--c-primary);
    }

    @media (max-width: 640px) {
      height: 36px;
      padding: 6px;
      font-size: 13px;
    }
  }
}
</style>
