<template>
  <div v-if="store" class="container">
    <SPage :breadcrumbs="getBreadcrumbs" />
    <div class="h1 !my-9">Салон оптики {{getTitle}}</div>

    <div class="tm-storeMap__wrapper">
      <div class="tm-storeMap__content">
        <div class="mb-5">
          <div class="tm-storeMap__title">АДРЕС:</div>
          <div class="tm-storeMap__text">{{getAddress}}</div>
        </div>

        <div class="mb-5">
          <div class="tm-storeMap__title">ТЕЛЕФОН:</div>
          <div class="tm-storeMap__text">{{getPhone}}</div>
        </div>

        <div class="mb-5">
          <div class="tm-storeMap__title">РЕЖИМ РАБОТЫ:</div>
          <div class="tm-storeMap__text">{{getWorkHours}}</div>
        </div>
      </div>
      <div class="tm-storeMap__map">
        <Map :currentCoords="getCoords" :zoom="16" :stores="store" />
      </div>
    </div>
  </div>
</template>

<script>
import Map from "~/components/common/Map.vue";
import SPage from "~/components/page/SPage.vue";

export default {
  name: "StoreMap",

  components: {
    Map,
    SPage,
  },

  head() {
    const meta = [
      {
        hid: "metadescription",
        name: "description",
        content: this?.store?.description || "description",
      },
    ];
    return {
      title: this?.store?.[0]?.title || "Title",
      meta,
    };
  },

  data() {
    const currStore = this?.store?.[0] || {};
    return {
      currStore,
    };
  },

  computed: {
    getCoords() {
      return [this?.store?.[0]?.lat || "", this?.store?.[0]?.lon || ""];
    },

    getTitle() {
      return this?.store?.[0]?.title || "";
    },

    getAddress() {
      return this?.store?.[0]?.address || "";
    },

    getPhone() {
      return this?.store?.[0]?.work_phone || "";
    },

    getWorkHours() {
      return this?.store?.[0]?.working_hours || "";
    },

    getBreadcrumbs() {
      let breadcrumbs = [
        { title: "Главная", path: "/" },
        {
          title: "Найти оптику",
          path: "/salony-optiki",
        },
        {
          title: this?.store?.[0]?.city_name || "",
          path: `/salony-optiki/${this?.$route?.params?.cities}`,
        },
        {
          title: this?.store?.[0]?.title || "",
          path: `/salony-optiki/${this?.$route?.params?.store || ""}`,
        },
      ];

      return breadcrumbs;
    },
  },

  async asyncData({ $api, route }) {
    const storeSlug = route.params.store;

    const store = await $api.agent.transport
      .get(`stores/${storeSlug}`)
      .then((res) => {
        return [res.data];
      })
      .catch((err) => {
        this.$nuxt.error({ statusCode: 404, message: "Page not found" });
        return null;
      });

    return { store };
  },
};
</script>

<style lang="scss">
.tm-storeMap__wrapper {
  display: flex;
  margin-left: -24px;

  & > div {
    margin-left: 24px;

    @media (max-width: 800px) {
      margin-left: 0;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    margin-left: 0;
  }
}

.tm-storeMap__map {
  width: calc(75% - 24px);

  @media (max-width: 800px) {
    width: 100%;
  }
}
.tm-storeMap__content {
  width: calc(25% - 24px);

  @media (max-width: 800px) {
    width: 100%;
  }
}

.tm-storeMap__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.tm-storeMap__text {
}
</style>