<template>
  <div class="container !mb-5">
    <SPage :breadcrumbs="getBreadcrumbs" />
    <template v-if="stores.length">
      <div class="h1 !my-6">Салоны оптики в {{getCityName}}</div>

      <div class="flex justify-center items-center space-x-4 mb-5">
        <div class="flex items-center space-x-2">
          <img src="~/assets/img/svg/map/geoloc.svg" alt="logo" />
          <span class="tm-stroeBlock__select-city">ВЫБЕРИТЕ ГОРОД:</span>
        </div>
        <div @click="openModalCities()" class="cursor-pointer tm-stroeBlock__select">{{getCityName}}</div>
      </div>

      <Map :currentCoords="getCoords" :zoom="13" :stores="stores" />

      <div class="grid grid-cols-12 gap-6 mt-6">
        <div
          class="col-span-6 xs:col-span-4 sm:!col-span-3"
          v-for="(store,idx) in stores"
          :key="`store-idx-${idx}`"
        >
          <nuxt-link :to="store.url" class="tm-cityMap__title">{{store.title}}</nuxt-link>
          <div class="tm-cityMap__address">{{store.address}}</div>
        </div>
      </div>
    </template>
    <CitiesListModal name="cities-list" label="Выберите город" />
  </div>
</template>

<script>
import Map from "~/components/common/Map.vue";
import SPage from "~/components/page/SPage.vue";
import CitiesListModal from "~/components/salony-optiki/CitiesListModal.vue";

export default {
  name: "CityMap",

  components: {
    Map,
    SPage,
    CitiesListModal,
  },

  head() {
    const meta = [
      {
        hid: "metadescription",
        name: "description",
        content: this?.stores?.description || "description",
      },
    ];
    return {
      title: this?.stores?.[0]?.title || "Title",
      meta,
    };
  },

  data() {
    return {
      // stores: [],
    };
  },

  async asyncData({ $api, route }) {
    const cityName = route?.params?.city || "";

    const city = await $api.agent.transport
      .get(`cities/get-by-subdomain/${cityName}`)
      .then((res) => {
        return res.data;
      })
      .catch((err) => {
        this.$nuxt.error({ statusCode: 404, message: "Page not found" });
        return null;
      });
    const cityId = city?.id || "";

    if (cityId) {
      const stores = await $api.agent.transport
        .get(`stores?filter[city_id]=${cityId}`)
        .then((res) => {
          return res.data;
        })
        .catch((err) => {
          return null;
        });

      return { stores };
    }
  },

  // async mounted() {
  //   await this.getStores();
  // },

  computed: {
    getCityName() {
      return this?.stores?.[0]?.city_name || "";
    },

    getCoords() {
      return [this?.stores?.[0]?.lat || "", this?.stores?.[0]?.lon || ""];
    },
    getBreadcrumbs() {
      let breadcrumbs = [
        { title: "Главная", path: "/" },
        {
          title: "Найти оптику",
          path: "/salony-optiki",
        },
        {
          title: this?.stores?.[0]?.city_name || "",
          path: `/salony-optiki/${this?.$route?.params?.cities}`,
        },
      ];

      return breadcrumbs;
    },
  },

  methods: {
    // async getStores() {
    //   const cityName = this.$route?.params?.city || "";

    //   const city = await this.$api.agent.transport
    //     .get(`cities/get-by-subdomain/${cityName}`)
    //     .then((res) => {
    //       return res.data;
    //     })
    //     .catch((err) => {
    //       this.$nuxt.error({ statusCode: 404, message: "Page not found" });
    //       return null;
    //     });
    //   const cityId = city?.id || "";

    //   if (cityId) {
    //     const stores = await this.$api.agent.transport
    //       .get(`stores?filter[city_id]=${cityId}`)
    //       .then((res) => {
    //         return res.data;
    //       })
    //       .catch((err) => {
    //         return null;
    //       });

    //     this.stores = stores;
    //   }
    // },

    openModalCities() {
      this.$modal.show("cities-list");
    },
  },
};
</script>

<style lang="scss">
.tm-cityMap__title {
  color: #000;
  font-family: "Intro";
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 20px;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 640px) {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
  }
}

.tm-cityMap__address {
  line-height: 30px;

  @media (max-width: 640px) {
    font-size: 14px;
    display: block;
    line-height: 22px;
  }
}
</style>