<template>
  <section class="container">
    <SPage :breadcrumbs="getBreadcrumbs" />
    <h1 class="py-6">Салоны оптики</h1>
    <div
      class="tm-modal__title"
    >Выберите ближайший салон оптики, где можно купить линзы ODV Superclean</div>
    <div class="flex justify-center items-center space-x-4 mb-5">
      <div class="flex items-center space-x-2">
        <img src="~/assets/img/svg/map/geoloc.svg" alt="logo" />
        <span class="tm-stroeBlock__select-city">ВЫБЕРИТЕ ГОРОД:</span>
      </div>
      <div @click="openModalCities" class="cursor-pointer tm-stroeBlock__select">Не выбран</div>
    </div>

    <Map :stores="stores" />

    <div class="grid grid-cols-12 gap-5 mt-8 md:mt-14 px-0 lg:px-28">
      <template v-if="citiesList.length">
        <div
          class="col-span-6 xs:col-span-4 sm:!col-span-3"
          v-for="(cities,idx) in citiesList"
          :key="`cities-idx-${idx}`"
        >
          <div class="tm-stroeBlock__citiesList">
            <div class="tm-stroeBlock__symbol">{{cities.symbol}}</div>
            <template v-if="cities.items.length">
              <div class="flex flex-col">
                <div v-for="(city,idx2) in cities.items" :key="`city-id-${idx2}`">
                  <nuxt-link
                    :to="`/salony-optiki/${city.sub_domain}`"
                    class="tm-stroeBlock__city"
                  >{{city.city_name}}</nuxt-link>
                </div>
              </div>
            </template>
          </div>
        </div>
      </template>
    </div>
    <CitiesListModal name="cities-list" label="Выберите город" />
  </section>
</template>

<script>
import CitiesListModal from "~/components/salony-optiki/CitiesListModal.vue";
import Map from "~/components/common/Map.vue";
import SPage from "~/components/page/SPage.vue";
import { initCitiesList } from "~/helpers/citiesSortArray.js";

import { mapState } from "vuex";

export default {
  name: "SalonyOptiki",

  head() {
    let meta = [
      {
        hid: "metadescription",
        name: "description",
        content: this?.seo?.description || "",
      },
    ];
    return {
      title: this?.seo?.title_tag || "Блог",
      meta: meta,
    };
  },

  data() {
    // console.log(this,)
    return {
      citiesList: [],
    };
  },

  async asyncData({ $api, route }) {
    const routePath = route?.name;

    //получение списка магазинов
    const { data: stores } = await $api.agent.transport
      .get(`stores?per-page=9999 `)
      .catch((err) => {
        console.log(err?.request?.data?.[0]?.message) || "Ошибка сервера";
      });

    const seo = await $api.agent.transport
      .get(`cms/page-by-path?path=${routePath}`)
      .then((res) => {
        return res.data?.page || {};
      })
      .catch(() => {
        return {};
      });

    return { stores, seo };
  },

  components: {
    CitiesListModal,
    SPage,
    Map,
  },
  async mounted() {
    await this.$store.dispatch("cities/getCities");

    this.citiesList = initCitiesList(this.cities);
    this.showMap = true;
  },

  computed: {
    getBreadcrumbs() {
      let breadcrumbs = [
        { title: "Главная", path: "/" },
        {
          title: "Найти оптику",
          path: `/salony-optiki`,
        },
      ];

      return breadcrumbs;
    },
    ...mapState({
      cities: (state) => state.cities?.cities || [],
    }),
  },

  methods: {
    openModalCities() {
      this.$modal.show("cities-list");
    },
  },
};
</script>


<style lang="scss">
.tm-stroeBlock__symbol {
  font-size: 30px;
  font-family: "Intro";
}

.tm-stroeBlock__city {
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;

  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 20px;
    display: block;
  }
}

.tm-stroeBlock__select-city {
  font-family: "ProximaNova";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 14px;
}

.tm-stroeBlock__select {
  font-family: "GothamPro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    right: -10px;
    top: 13px;
    border: 3px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 3px;
    border-top: 3px solid #000;
  }
}
.tm-modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px;
  cursor: pointer;
}
</style>