<template >
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">
      <li
        class="breadcrumbs__item"
        v-for="({ path, title }, index) of breadcrumbs"
        :class="{ active: index === breadcrumbs.length - 1 }"
        :key="index"
      >
        <template v-if="index === breadcrumbs.length - 1">{{ title }}</template>
        <nuxt-link :to="path" v-else>{{ title }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({
  components: {},
})
export default class PagePagination extends Vue {
  @Prop({
    type: Array,
    default() {
      return [];
    },
  })
  private readonly breadcrumbs!: any[];
}
</script>

<style>
</style>
