<template lang="pug">
nav.page-breadcrumbs.container
  a(
    v-for="pageNumber of pageCount",
    :class="{ active: pageNumber === page }",
    :key="pageNumber",
    href="javascript: 0",
    @click="onChange(pageNumber)"
  ) {{ pageNumber }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({
  components: {},
})
export default class PagePagination extends Vue {
  @Prop({
    type: Number,
    default: 0,
  })
  private readonly total!: number;

  @Prop({
    type: Number,
    default: 0,
  })
  private readonly perPage!: number;

  @Prop({
    type: Number,
    default: 0,
  })
  private readonly page!: number;

  @Prop({
    type: Number,
    default: 0,
  })
  private readonly pageCount!: number;

  onChange(page: number): void {
    this.$emit("change", page);
  }
}
</script>

<style lang="scss">
.page-breadcrumbs {
  nav {
    @apply flex;
  }

  a {
    width: 24px;
    height: 24px;
    @apply rounded inline-block text-center text-gray-700 text-sm hover:text-blue-400 p-1 bg-gray-100 ml-2 mr-2;
    &.active {
      @apply bg-yellow-500 text-white;
    }
  }
}
</style>
