<template>
  <div class="s-page">
    <div class="s-page__breadcrumbs" v-if="breadcrumbs.length">
      <page-breadcrumbs :breadcrumbs="breadcrumbs"></page-breadcrumbs>
    </div>
    <div class="s-page__header">
      <slot name="header" v-if="$scopedSlots.header"></slot>
      <h1 v-if="!$scopedSlots.header &amp;&amp; title">{{ title }}</h1>
    </div>
    <div class="s-page__body">
      <slot name="default"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({
  components: {
    PageBreadcrumbs: () => import("../../components/page/PageBreadcrumbs.vue"),
  },
})
export default class SPage extends Vue {
  @Prop({
    type: Array,
    default() {
      return [];
    },
  })
  breadcrumbs?: any[];

  @Prop({ type: String }) title?: string;
}
</script>

<style lang="scss">
// @import '../../assets/scss/layout';

// .s-page {
//   &__breadcrumbs {
//     @apply py-2
//   }
//   &__header {
//     @apply my-4 mb-8;
//   }
//   &__body {}
//   &__footer {}
// }
</style>
