<template>
  <footer>
    <section class="tm-footer">
      <div class="container">
        <div class="tm-footer__items">
          <FooterItem
            class="tm-footer__item"
            v-for="(item,idx) in getMenu"
            :key="`footer-idx-${idx}`"
            :items="item.children"
            :title="item.title"
          />
          <div class="tm-footer__item tm-footer__contacts">
            <div class="mb-2.5">
              <div class="tm-footer__phone-title">Единый номер</div>
              <div class="tm-footer__phone">
                <a
                  :href="`tel:+${vars['Единый номер'].replace(/\D/g, '')}`"
                >{{vars['Единый номер']}}</a>
              </div>
            </div>

            <div class="mb-10">
              <div class="tm-footer__phone-title">Производство</div>
              <div class="tm-footer__phone">
                <a
                  :href="`tel:+${vars['Производство'].replace(/\D/g, '')}`"
                >{{vars['Производство']}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-b border-gray-300"></div>
      <div class="container">
        <div class="flex flex-col items-center justify-center md:flex-row md:justify-between mt-3">
          <div
            class="w-full md:w-3/5 text-center md:text-left"
          >© 2015- 2021 гг. Завод рецептурной оптики</div>
          <div class="w-full md:w-2/5 text-center md:text-left">
            <nuxt-link
              class="hover:underline"
              to="/politika-obrabotki-personalnyh-dannyh"
            >Политика конфиденциальности</nuxt-link>
          </div>
        </div>
      </div>
    </section>
  </footer>
</template>

<script>
import FooterItem from "~/components/common/FooterItem.vue";

export default {
  name: "Footer",

  components: {
    FooterItem,
  },

  props: {
    menu: {
      type: Array,
    },
    vars: {
      type: Object,
      default() {
        return {};
      },
    },
  },

  computed: {
    getMenu() {
      return this?.menu || [];
    },
  },
};
</script>

<style lang="scss">
.tm-footer {
  padding: 20px 0;
}

.tm-footer__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.tm-footer__item {
  flex-basis: 20%;
  padding: 0 10px;
  flex-shrink: 1;

  @media (max-width: 800px) {
    flex-basis: 50%;
    margin-bottom: 10px;
  }

  @media (max-width: 480px) {
    flex-basis: 100%;
  }
}

.tm-footer__contacts {
  display: flex;
  flex-direction: column;
}

.tm-footer__phone {
  font-family: "ProximaNova";
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

.tm-footer__phone-title {
  font-size: 14px;
  color: #666666;
}
</style>