<template>
  <div>
    <div @click="showLinkList()" class="tm-footer__itm-title">{{ title }}</div>
    <div v-if="isShowLinkList" class="mt-5">
      <div
        class="tm-footer__itm-link"
        v-for="(item, id) in items"
        :key="`title-footer-item-${id}`"
      >
        <nuxt-link :to="`/${item.path}`">{{ item.title }}</nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FooterItem",

  data() {
    return {
      isShowLinkList: true,
    };
  },

  mounted() {
    this.showLinkList();
  },

  props: {
    items: {
      type: Array,
      default() {
        return [];
      },
    },

    title: String,
  },

  methods: {
    showLinkList() {
      let width = document.documentElement.clientWidth;

      if (width > 480) {
        return null;
      }

      this.isShowLinkList = !this.isShowLinkList;
    },
  },
};
</script>

<style lang="scss">
.tm-footer__itm-title {
  font-size: 15px;
  font-family: "ProximaNova";
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  line-height: 20px;
  position: relative;
  display: inline-block;

  @media (max-width: 480px) {
    &:after {
      position: absolute;
      content: "";
      border-right: solid 2px #000;
      border-bottom: solid 2px #000;
      width: 8px;
      height: 8px;
      right: -18px;
      top: 2px;
      transform: rotate(45deg);
    }
  }
}

.tm-footer__itm-link {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 20px;
}
</style>
