<template>
  <div :class="{ __container: !!isContainer }" class="modal-form">
    <div :class="{ __container: !!isContainer }" class="modal-form__title">
      {{ label }}
    </div>
    <div
      :class="{ __container: !!isContainer }"
      class="modal-form__content-wrapper"
    >
      <div :class="{ __container: !!isContainer }" class="modal-form__content">
        <div v-if="isName" class="modal-form-item">
          <div class="modal-form-item__label">Имя</div>
          <input
            v-model="form.name"
            placeholder="Введите имя"
            v-bind:class="{
              'modal-form-item__input': true,
              error: Boolean($v.form.name.$invalid && $v.form.name.$dirty),
            }"
          />
          <div
            v-if="Boolean($v.form.name.$invalid && $v.form.name.$dirty)"
            class="modal-form-item__error"
          >
            <span v-if="!$v.form.name.required">Обязательно к заполнению</span>
          </div>
        </div>

        <div v-if="isEmail" class="modal-form-item">
          <div class="modal-form-item__label">Email</div>
          <input
            v-model="form.email"
            placeholder="Введите Email адресс"
            v-bind:class="{
              'modal-form-item__input': true,
              error: Boolean($v.form.email.$invalid && $v.form.email.$dirty),
            }"
          />
          <div
            v-if="Boolean($v.form.email.$invalid && $v.form.email.$dirty)"
            class="modal-form-item__error"
          >
            <span v-if="!$v.form.email.email">Неправильный формат ввода</span>
            <span v-else-if="!$v.form.email.required"
              >Заполните Email или телефон</span
            >
          </div>
        </div>

        <div v-if="isPhone" class="modal-form-item">
          <div class="modal-form-item__label">Телефон</div>
          <input
            v-model="form.phone"
            placeholder="Введите номер телефона"
            v-bind:class="{
              'modal-form-item__input': true,
              error: Boolean($v.form.phone.$invalid && $v.form.phone.$dirty),
            }"
            v-mask="[
              '+7 (',
              /[1-6, 9]/,
              /\d/,
              /\d/,
              ')',
              ' ',
              /\d/,
              /\d/,
              /\d/,
              ' ',
              /\d/,
              /\d/,
              ' ',
              /\d/,
              /\d/,
            ]"
          />
          <div
            v-if="Boolean($v.form.phone.$invalid && $v.form.phone.$dirty)"
            class="modal-form-item__error"
          >
            <span v-if="!$v.form.phone.minLength"
              >Неправильный формат ввода</span
            >
            <span v-else-if="!$v.form.phone.required"
              >Заполните телефон или Email</span
            >
          </div>
        </div>
        <label class="modal-form__agree">
          <input
            v-model="isAgreement"
            type="checkbox"
            class="checkbox checkbox-primary"
          />
          <span>Я соглашаюсь на обработку персональных данных</span>
        </label>
      </div>

      <div
        :class="{ __container: !!isContainer }"
        class="modal-form__sendForm-btn"
      >
        <button
          class="tm-btn__primary rounded-md h-9"
          :disabled="!isAgreement"
          @click="submitForm"
        >
          Отправить
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {
  email,
  minLength,
  not,
  required,
  sameAs,
} from "vuelidate/lib/validators";

export default {
  name: "FormRequest",
  data: function () {
    return {
      form: {},

      isAgreement: true,
    };
  },

  props: {
    name: {
      type: String,
      requared: true,
    },

    label: {
      type: String,
    },

    isPhone: {
      type: Boolean,
      default: false,
    },
    isEmail: {
      type: Boolean,
      default: false,
    },
    isName: {
      type: Boolean,
      default: false,
    },
    isClosedSend: {
      type: Boolean,
      default: false,
    },

    isContainer: {
      type: Boolean,
      default: false,
    },
  },

  validations: function () {
    // Инициализация валидации формы
    let form = {};
    if (this.isName) {
      form.name = { required };
    }
    if (this.isEmail) {
      form.email = {
        required: Boolean(this.form.phone) ? false : required,
        email,
      };
    }
    if (this.isPhone) {
      form.phone = {
        required: Boolean(this.form.email) ? false : required,
        minLength: minLength(15),
      };
    }
    // ------------------------------

    return {
      form,
    };
  },

  methods: {
    initForm: function () {
      let newForm = {};

      if (this.isPhone) {
        newForm.phone = "";
      }
      if (this.isEmail) {
        newForm.email = "";
      }
      if (this.isName) {
        newForm.name = "";
      }

      this.form = newForm;
    },

    submitForm: async function () {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return null;
      }

      this.$store.commit("loading/setLoading", true);

      let body = {
        ...this.form,
        type: this?.typeQuery || this.name,
      };
      if (!body.email) {
        delete body.email;
      }
      if (!body.phone) {
        delete body.phone;
        body.nophone = "1";
      }
      if (!!this?.categoryId) {
        body.message = String(this?.categoryId);
      }
      if (!!this?.sendUserNotification) {
        body.sendUserNotification = "0";
      }

      if (this.name == "calc-request") {
        this.$yandexMetrika.reachGoal("otprav_zayavka_kalk_zabor");
        let body = { ...this.calc_request_data };

        body.form = this.form;

        const reponseSend = await this.$api.agent.transport
          .post(this.calc_request_endpoint, body)
          .then((res) => {
            return res.data;
          })
          .catch((err) => {
            return { error: err.response };
          });
      } else {
        const reponseSend = await this.$api.agent.transport
          .post("form/send", body)
          .then((res) => {
            return res.data;
          })
          .catch((err) => {
            return { error: err.response };
          });
      }

      this.$modal.hide(this.name);

      this.$toast.success("Успешно отправлено");

      this.$store.commit("loading/setLoading", false);
    },
  },
};
</script>

<style lang="scss">
.modal-form {
  background-color: #2c2f42;
  padding: 20px;
  width: 100%;

  &.__container {
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 99%);
    border-radius: 25px;
  }

  @media (max-width: 640px) {
    padding: 10px;
  }
}

.modal-form__content-wrapper {
  display: flex;
  align-items: center;

  &.__container {
    flex-direction: column;
  }

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.modal-form__content {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 66.666%;

  &.__container {
    width: 100%;
  }

  @media (max-width: 640px) {
    width: 100%;
  }
}

.modal-form__sendForm-btn {
  display: flex;
  margin-left: 16px;

  & > button {
    height: 40px;
  }
  width: calc(33.333% - 10px);

  &.__container {
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
    margin-left: 0px;
  }

  @media (max-width: 640px) {
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
    margin-left: 0px;

    & > button {
      height: 30px;
    }
  }
}

.modal-form__title {
  color: #fff;
  font-family: "helveticanouanormal", Sans-serif;
  line-height: 1.2;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 16px;

  &.__container {
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 0px;
  }

  @media (max-width: 640px) {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 400;

    &.__container {
      font-size: 18px;
    }
  }
}

.modal-form__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
  background: var(--c-primary);
  color: white;
  padding: 4px 12px;
  border: 1px solid var(--c-primary);

  &:disabled {
    border-color: #e5e5e5;
    background-color: white;
    color: #999;
  }
}

.modal-form-item {
  margin-top: 16px;
  width: calc(50% - 10px);

  @media (max-width: 640px) {
    margin-top: 8px;
    width: calc(50% - 4px);
  }
}

.modal-form-item__label {
  font-size: 16px;
  line-height: 16px;
  color: white;
  margin-bottom: 8px;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}
.modal-form-item__input {
  height: 40px;
  max-width: 100%;
  width: 100%;
  padding: 0.7em;
  background: #fff;
  color: #000;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus-visible {
    outline: 2px solid var(--c-primary);
  }

  @media (max-width: 640px) {
    height: 32px;
    padding: 6px;
    font-size: 13px;
  }
}
.modal-form-item__error {
  margin-top: 2px;

  font-size: 12px;
  color: #da314b;
}

.modal-form__agree {
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: fit-content;
  max-width: 100%;

  @media (max-width: 640px) {
    margin-top: 12px;
  }
}

.modal-form__agree span {
  display: flex;
  color: white;
  margin-left: 6px;
  line-height: 21px;
  cursor: pointer;

  @media (max-width: 640px) {
    font-size: 12px;
    line-height: 12px;
  }
}
</style>
