<template>
  <header :class="{'headerShadow':isFixed}" ref="refHeader" id="siteHeader" class="header-one">
    <nav class="container tm-header__top" :class="{'__fixed':isFixed || Boolean(screenWidth<1000)}">
      <div class="hidden lg:block">
        <a
          class="font-GothamPro font-bold text-sm"
          :href="`tel:+${vars['Единый номер'].replace(/\D/g, '')}`"
        >{{vars['Единый номер']}}</a>
      </div>

      <div @click="()=> {showMobileMenu = true}" class="w-8 h-8 block lg:hidden">
        <img class="w-full h-full" src="~/assets/img/svg/header/burger.svg" alt />
      </div>

      <div class="tm-header__logo">
        <nuxt-link to="/">
          <img
            :class="{'!hidden': isFixed}"
            class="hidden lg:block tm-header-logo"
            src="~/assets/img/png/common/logo.png"
            alt="logo"
          />
          <img
            :class="{'lg:hidden ': !isFixed}"
            class="inline-block tm-header-logo_m"
            src="~/assets/img/png/common/logo_m.png"
            alt="logo"
          />
        </nuxt-link>
      </div>
      <div class="tm-header__top-profile">
        <nuxt-link to="/profile" class="flex items-center space-x-2">
          <img src="~assets/img/svg/header/profile.svg" />
          <span class="hidden lg:inline-block font-GothamPro">Вход для партнёров</span>
        </nuxt-link>
      </div>
    </nav>

    <nav class="tm-header__menu relative">
      <NavMenu :menu="menu" />
    </nav>

    <nav class="tm-header__menu">
      <MobileHeader @onCloseMenu="closeMenu()" :isShowMobileMenu="showMobileMenu" :menu="menu">
        <template #top="{closeMenu}">
          <div class="flex justify-between py-4 pl-3 pr-5 items-center border-b border-gray-300">
            <a
              :href="`tel:+${vars['Единый номер'].replace(/\D/g, '')}`"
              class="text-base font-bold font-GothamPro whitespace-nowrap"
            >{{vars['Единый номер']}}</a>

            <div @click="closeMenu" class="flex justify-center items-center text-xl text-gray-300">X</div>
          </div>
        </template>
      </MobileHeader>
    </nav>
  </header>
</template>
<script>
import NavMenu from "~/components/common/NavMenu.vue";
import MobileHeader from "~/components/common/mobile-header/MobileHeader.vue";

export default {
  name: "Header",

  data() {
    return {
      isFixed: false,
      screenWidth: 1800,
      showMobileMenu: false,
    };
  },

  emits: ["openAuthorizationModal"],

  props: {
    menu: {
      type: Array,
    },

    vars: {
      type: Object,
      default() {
        return {};
      },
    },

    itemsCartCount: {
      type: Number,
      default() {
        return 0;
      },
    },
  },

  components: {
    NavMenu,
    MobileHeader,
  },

  mounted() {
    this.screenWidth = document.documentElement.clientWidth;

    window.addEventListener("scroll", this.handleScroll);

    const headerHeight = this.$refs.refHeader.clientHeight;
    // this.heightHeaderPlaceholder = `${headerHeight}px`;
  },

  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },

  computed: {
    getImageSize() {
      console.log(this.screenWidth);

      if (this.isFixed || Boolean(this.screenWidth < 1000)) {
        return "logo_m";
      } else {
        return "logo";
      }
    },
  },

  methods: {
    handleScroll({ target }) {
      const isFixed = Boolean((target?.scrollingElement?.scrollTop || 0) > 40);
      const width = document.documentElement.clientWidth;

      if (this.isFixed !== isFixed) {
        this.isFixed = isFixed;
      }
    },

    openAuthorizationModal() {
      this.$emit("openAuthorizationModal");
    },

    closeMenu() {
      this.showMobileMenu = false;
    },
  },
};
</script>
<style lang="scss" scoped>
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  min-width: 320px;
}

.tm-header__top {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;

  &.__fixed {
    height: 40px;
  }

  @media (max-width: 1000px) {
    height: 40px;
  }
}

.tm-header__logo {
  height: 100%;
}
.tm-header-logo {
  width: 200px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.tm-header-logo_m {
  height: 40px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.tm-header__top-profile {
  span {
    font-size: 14px;
    color: #999;
  }
}

.headerShadow {
  box-shadow: 0 2px 3px rgb(0 0 0 / 8%);
}
</style>