<template>
  <div class="tm-stroeBlock__map-wrapper">
    <yandex-map
      v-if="showMap"
      :cluster-options="clusterName"
      :scroll-zoom="false"
      :coords="coords"
      :zoom="zoom"
      :controls="['zoomControl']"
      class="h-full"
    >
      <ymap-marker
        v-for="(store, idx) in stores"
        :key="`store-idx-${idx}`"
        :marker-id="idx"
        :icon="markerIcon"
        :cluster-name="1"
        :balloon-template="balloonTemplate(store)"
        :coords="[store.lat, store.lon]"
      />
    </yandex-map>
  </div>
</template>

<script>
import Vue from "vue";
import YmapPlugin from "vue-yandex-maps";
import { ymapMarker, yandexMap } from "vue-yandex-maps";

const settings = {
  apiKey: "",
  lang: "ru_RU",
  coordorder: "latlong",
  enterprise: false,
  version: "2.1",
};
Vue.use(YmapPlugin, settings);

export default {
  name: "Map",

  components: {
    yandexMap,
    ymapMarker,
  },

  data() {
    return {
      clusterName: {
        1: {
          clusterDisableClickZoom: false,
          clusterOpenBalloonOnClick: false,
          clusterIconColor: "#a72681",
          clusterNumbers: [50],
        },
      },

      //кастомная иконка
      markerIcon: {
        layout: "default#image",
        imageHref: require("~/assets/img/svg/map/map-icon.svg"),
        imageSize: [60, 80],
        imageOffset: [-24, -70],
      },

      coords: this.currentCoords,
      showMap: false,
    };
  },

  props: {
    stores: {
      type: Array,
      default() {
        return [];
      },
    },

    zoom: {
      type: Number,
      default: 4,
    },

    currentCoords: {
      type: Array,
      default() {
        return [54, 62];
      },
    },
  },

  mounted() {
    this.showMap = true;
  },

  methods: {
    balloonTemplate: function (store) {
      if (process.client) {
        const host = window.location.origin;
        return `
        <div class="baloon-title">${store?.title}</div>
        <div class="baloon-address">${store?.address} </div>
        ${
          this.$route.fullPath !== store.url
            ? `<a href="${host}${store.url}" class="baloon-link">Подробнее</a>`
            : ""
        }
      `;
      }
    },
  },
};
</script>

<style lang="scss">
.tm-stroeBlock__map-wrapper {
  height: 520px;
  width: 100%;

  @media (max-width: 640px) {
    height: 320px;
  }
}

.baloon-title {
  font-size: 16px;
  font-family: "Noto Serif";
  margin-bottom: 1px;
}

.baloon-address {
  font-size: 14px;
  margin-bottom: 11px;
}

.baloon-link {
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
</style>