<template>
  <div v-if="menu.length" class="tm-navMenu__root container">
    <div class="tm-navMenu__first">
      <div v-for="(firstMenu, idx) in menu" :key="`first-${idx}`" class="tm-navMenu__first-wrapper">
        <nuxt-link
          :class="{'!text-[#a5188b]': $route.path == `/${firstMenu.path}`}"
          class="tm-navMenu__first-item font-Intro text-[13px] uppercase pb-1"
          :to="`/${firstMenu.path}`"
        >{{firstMenu.title}}</nuxt-link>

        <div v-if="firstMenu.children.length" class="tm-navMenu__second">
          <div class="container tm-navMenu__second-wrapper">
            <div v-for="(secondMenu, id) in firstMenu.children" :key="`second-${id}`" class="pt-6">
              <nuxt-link
                :class="{'!text-[#a5188b]': $route.path == `/${secondMenu.path}`}"
                class="tm-navMenu__second-item font-GothamPro text-xs"
                :to="`/${secondMenu.path}`"
              >{{secondMenu.title}}</nuxt-link>

              <template v-if="secondMenu.children.length">
                <div v-for="(thirdMenu, id2) in secondMenu.children" :key="`third-${id2}`">
                  <nuxt-link
                    :class="{'!text-[#a5188b]': $route.path == `/${thirdMenu.path}`}"
                    class="tm-navMenu__third-item"
                    :to="`/${thirdMenu.path}`"
                  >{{thirdMenu.title}}</nuxt-link>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavMenu",

  props: {
    menu: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style lang="scss">
.tm-navMenu__root {
  margin-top: 6px;
}
.tm-navMenu__first {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1000px) {
    display: none;
  }
}
.tm-navMenu__first-item {
  transition: all 0.5s linear;
  display: block;
  border-bottom: solid 1px transparent;

  &:hover {
    color: #999;
    border-bottom: solid 1px #a5188b;
  }
}
.tm-navMenu__second {
  position: absolute;
  left: 0;
  top: 34.5px;
  width: 100%;
  background: #fff;
  transition: all 0.5s linear;
  z-index: 10;
  max-height: 0;
  overflow: hidden;
}
.tm-navMenu__second-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 30px;

  & > div {
    flex-basis: 20%;
    text-align: center;
  }
}

.tm-navMenu__first-wrapper:hover .tm-navMenu__second {
  z-index: 10;
  box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}
.tm-navMenu__second-item {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  color: #333;
  transition: all 0.5s linear;

  &:hover {
    color: #999;
  }
}

.tm-navMenu__third-item {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 15px;
  font-weight: 300;

  transition: all 0.5s linear;

  &:hover {
    color: #999;
  }
}
</style>