<template>
  <section class="tm-topImg">
    <div class="tm-topImg__wrapper">
      <div class="tm-cat-slide-img-container">
        <div class="tm-cat-slide-img">
          <nuxt-img loading="lazy" :src="`${String(imgId)}`"></nuxt-img>
        </div>
      </div>
      <div class="tm-subpageImageInfoBlock__content">
        <div class="tm-subpageImageInfoBlock__title">{{title}}</div>
        <div class="tm-subpageImageInfoBlock__text" v-html="text"></div>
        <nuxt-link :to="link">
          <div class="tm-btn__primary">{{linkText}}</div>
        </nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "TopImg",
  props: {
    imgId: Number,
    text: String,
    title: String,
    linkText: String,
    link: String,
  },
};
</script>

<style lang="scss">
.tm-topImg {
  height: 600px;
  position: relative;
  z-index: 1;
  background: #f6f6f6;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }

  @media (max-width: 800px) {
    height: auto;
  }
}
.tm-topImg__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1320px;
}

.tm-cat-slide-img-container {
  display: flex;
  justify-content: flex-end;

  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;

  z-index: 2;
  width: 60%;
  height: 600px;

  @media (max-width: 800px) {
    display: none;
  }
}
.tm-cat-slide-img {
  max-width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    z-index: 3;
    border-left: 400px solid #f6f6f6;
    border-bottom: 600px solid transparent;
  }

  & > img {
    width: auto;
    height: 600px;
    display: inline;
    border: 0;
    outline: none;
    max-width: fit-content;
  }
}

.tm-subpageImageInfoBlock {
  position: relative;
}
.tm-subpageImageInfoBlock__content {
  position: relative;
  bottom: -100px;
  left: 0;
  width: 50%;
  z-index: 5;

  @media (max-width: 1000px) {
    width: 60%;
  }

  @media (max-width: 800px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: initial;
    padding: 20px 0;
  }
}
.tm-subpageImageInfoBlock__title {
  font-size: 36px;
  line-height: 1.25;
  font-family: "Intro";
  font-weight: 400;
  margin-bottom: 34px;

  @media (max-width: 800px) {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.25;
  }
}

.tm-subpageImageInfoBlock__text {
  max-width: 500px;
  margin-left: 45px;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    margin-left: 0;
  }

  ul {
    list-style: none;
    li {
      overflow: hidden;
      position: relative;
      padding-left: 30px;
      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        left: 0;
        top: 12px;
        background: #a5188b;
      }
    }
  }
}
</style>
