.breadcrumbs {
    
    overflow-x: auto;
    max-width: 1320px;
    padding: 0 10px;
    margin: 24px auto 16px;

    & .breadcrumbs__list {
      display: flex;
      padding: 0;
      list-style: none !important;
      justify-content: center;

      @media (max-width:700px) {
        justify-content: flex-start;
      }
    }
  
    .breadcrumbs__item.active {
      font-weight: 600;
      --tw-text-opacity: 1;
      color: rgb(55 65 81 );
  }
  
    li.breadcrumbs__item {
      font-size: 0.875rem;
      line-height: 1.25rem;
      --tw-text-opacity: 1;
      color: rgb(107 114 128);
      white-space: nowrap;

      &::before{
        content:none;
      }
  }
  
    .breadcrumbs__item:not(:last-child) {
      margin-right: 0.75rem;
  }
  
    .breadcrumbs__item:not(:last-child):after {
      margin-left: 0.5rem;
      content: "/";
    }
  }