.checkbox-primary:checked,
.checkbox-primary[checked="true"] {
  border-color: var(--c-primary);
  opacity: 1;
  background-color: var(--c-primary);
  color: white;
}

.checkbox:checked,
.checkbox[checked="true"] {
  opacity: 1;
  background-color: var(--c-primary);
  background-repeat: no-repeat;
  animation: checkmark var(--animation-input, 0.2s) ease-in-out;
  background-image: linear-gradient(
      -45deg,
      transparent 65%,
      hsl(var(--chkbg)) 65.99%
    ),
    linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
    linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      hsl(var(--chkbg)) 30%,
      hsl(var(--chkfg)) 30.99%,
      hsl(var(--chkfg)) 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%);
}

.checkbox {
  --chkbg: var(--bc);
  --chkfg: var(--b1);
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  appearance: none;
  border-width: 2px;
  border-color: var(--c-primary);
  
  border-radius: var(--rounded-btn, 0.5rem);
}