
.cms-block-stub ul {
    list-style: none;
    li {
      overflow: hidden;
      position: relative;
      padding-left: 30px;
      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        left: 0;
        top: 12px;
        background: #a5188b;
      }
    }
}