<template>
  <section class="tm-containerBlock container">
    <div v-for="slotName of gridSlots" :key="slotName">
      <slot :name="slotName"></slot>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "ContainerBlock",
  data() {
    console.log(this, "this");
    return {
      slots: this.$slots,
    };
  },
  computed: {
    gridSlots() {
      return Object.keys(this.slots);
    },
  },
});
</script>

<style lang="scss">
.tm-containerBlock {
  img {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    &::before {
      float: left;
      content: "";
      padding-top: 75%;
    }
  }
}
</style>