<template>
  <section class="tm-contactsBlock">
    <div class="h1">Контакты</div>

    <div class="tm-contactsBlock__phone">
      <div class="tm-contactsBlock__subtitle">{{getPhones.title}}</div>
      <div class="flex justify-between flex-wrap">
        <div
          class="w-full sm:w-1/2"
          v-for="(phone, idx) in getPhones.items"
          :key="`phone-id-${idx}`"
        >
          <a class="hover:underline" :href="`tel:+${phone.text.replace(/\D/g, '')}`">{{phone.text}}</a>
        </div>
      </div>
    </div>

    <div class="tm-contactsBlock__email">
      <div class="tm-contactsBlock__subtitle">{{getEmail.title}}</div>
      <div class="flex justify-between flex-wrap">
        <div
          class="w-full sm:w-1/2"
          v-for="(email, idx) in getEmail.items"
          :key="`email-id-${idx}`"
        >
          <a :href="`mailto:${emailValid(email.text)}`">{{email.text}}</a>
        </div>
      </div>
    </div>

    <div class="tm-contactsBlock__workTime">
      <div class="tm-contactsBlock__subtitle">{{getWorkTime.title}}</div>
      <div class="flex justify-between flex-wrap">
        <div
          class="w-full sm:w-1/2"
          v-for="(time, idx) in getWorkTime.items"
          :key="`time-id-${idx}`"
        >{{time.text}}</div>
      </div>
    </div>

    <div class="tm-contactsBlock__address space-x-2">
      <div class="tm-contactsBlock__subtitle">{{getAddress.title}}</div>

      <div
        class
        v-for="(address, idx) in getAddress.items"
        :key="`address-id-${idx}`"
      >{{address.text}}</div>
    </div>

    <div class="tm-contactsBlock__map" v-html="values.map"></div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "ContactsBlock",
  computed: {
    getPhones() {
      return this?.values?.items?.[0] || {};
    },

    getEmail() {
      return this?.values?.items?.[1] || {};
    },

    getWorkTime() {
      return this?.values?.items?.[2] || {};
    },

    getAddress() {
      return this?.values?.items?.[3] || {};
    },
  },

  methods: {
    emailValid(email) {
      return email.split("-")?.[0] || "";
    },
  },
});
</script>

<style lang="scss">
.tm-contactsBlock {
  max-width: 880px;
  margin: 0 auto 30px;
  padding: 0 10px;
}
.tm-contactsBlock__subtitle {
  font-weight: 700;
  margin: 40px 0;

  @media (max-width: 640px) {
    margin: 20px 0;
  }
}
.tm-contactsBlock__address {
  display: flex;
  align-items: baseline;
}

.tm-contactsBlock__map {
  @media (max-width: 460px) {
    & iframe {
      height: auto;
    }
  }
}
</style>