<template>
  <section class="container tm-employeesBlock">
    <div class="h1">{{getTitle}}</div>
    <div class="tm-employeesBlock__content">
      <div class="tm-employeesBlock__cards-wrapper">
        <div
          v-for="(person,idx) in peopleList"
          :key="`person-idx-${idx}`"
          class="tm-employeesBlock__card"
        >
          <PersonCardInfo
            :email="person.email"
            :phone="person.phone"
            :position="person.position"
            :img="person.image"
            :name="person.name"
            avatarHeight="370"
            @openModal="openModal"
          />
        </div>
      </div>
    </div>
    <ModalForm label="Оставить заявку" :isName="true" :isPhone="true" name="request-order" />
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import PersonCardInfo from "~/components/partners/PersonCardInfo.vue";
import ModalForm from "~/components/modals/ModalForm.vue";

export default BaseCmsBlock.extend({
  name: "EmployeesBlock",
  data() {
    const peopleList = this?.values?.items?.[0]?.departments?.[0]?.people || [];
    return {
      peopleList,
    };
  },
  components: {
    PersonCardInfo,
    ModalForm,
  },
  mounted() {
    this.getMaxHeight();
  },
  computed: {
    getTitle() {
      return this?.values?.items?.[0]?.departments?.[0]?.title || "";
    },
  },
  methods: {
    openModal() {
      this.$modal.show("request-order");
    },

    getMaxHeight() {
      if (process.client) {
        let heightNodeList = document.querySelectorAll(
          ".tm-personCardInfo__position"
        );
        let maxHeight = 0;

        heightNodeList.forEach((t) => {
          if (t.offsetHeight > maxHeight) {
            maxHeight = t.offsetHeight;
          }
        });

        heightNodeList.forEach((t) => {
          t.style = `height:${maxHeight}px`;
        });
      }
    },
  },
});
</script>

<style lang="scss">
.tm-employeesBlock__content {
}

.tm-employeesBlock__cards-wrapper {
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
}

.tm-employeesBlock__card {
  margin-left: 20px;
  width: calc(33.33% - 20px);
  margin-bottom: 12px;

  @media (max-width: 1000px) {
    margin-left: 10px;
    width: calc(50% - 10px);
  }

  @media (max-width: 600px) {
    margin-left: 10px;
    width: 100%;
  }
}
</style>