<template>
  <section class="tm-formBlock">
    <div class="tm-formBlock__wrapper">
      <FormRequest :label="values.heading" :isPhone="true" :isEmail="true" />
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import FormRequest from "~/components/common/FormRequest.vue";

export default BaseCmsBlock.extend({
  name: "FormBlock",
  data() {
    // console.log(this,)
    return {};
  },

  components: {
    FormRequest,
  },
});
</script>

<style lang="scss">
.tm-formBlock {
  background: #2c2f42;
}
.tm-formBlock__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 50px;

  @media (max-width: 640px) {
    padding-bottom: 10px;
  }
}
</style>