<template>
  <section class="mb-6">
    <CoolLightBox
      :useZoomBar="true"
      :items="images"
      :index="index"
      :effect="'fade'"
      @close="index = null"
    ></CoolLightBox>

    <div :class="setClassGrid(3)" class="grid gap-2 sm:gap-5">
      <div
        @click="getIndex(idx)"
        v-for="(item,idx) in values.images"
        :key="item.id"
        class="flex flex-col justify-between h-full"
      >
        <div v-if="item.caption">
          <p class="text-lg lg:text-[24px] mt-8 mb-2 leading-[18px] lg:leading-7">{{item.caption}}</p>
        </div>
        <div class="overflow-hidden border border-primary">
          <nuxt-img
            loading="lazy"
            :width="400"
            :height="600"
            class="object-cover duration-700 block cursor-pointer hover:scale-105"
            :src="`${item.imageId}`"
            alt="img"
          />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
export default BaseCmsBlock.extend({
  name: "GalleryBlock",
  data() {
    // console.log(this,)
    return {
      index: null,
    };
  },
  computed: {
    images() {
      return (this?.values?.images || []).map((item) => {
        return {
          src: this.$img(item.imageId.toString(), {
            width: 1600,
          }),
          title: item.caption,
        };
      });
    },
  },
  methods: {
    setClassGrid(idx) {
      if (idx > 4) {
        idx = idx - Math.floor(idx / 5) * 5;
      }
      if (idx % 4 === 0) return "md:grid-cols-4";
      if (idx % 3 === 0) return "grid-cols-3";
      if (idx % 2 === 0) return "md:grid-cols-2";
      if (idx % 1 === 0) return "md:grid-cols-1";
    },

    getIndex(idx) {
      this.index = idx;
    },
  },
});
</script>





