<template>
  <client-only>
    <section class="tm-GridBlock">
      <div class="tm-GridBlock__wrapper grid grid-cols-12">
        <div
          class="tm-GridBlock__item col-span-12 lg:col-span-4"
          v-for="slotName of gridSlots"
          :key="slotName"
        >
          <slot :name="slotName"></slot>
        </div>
      </div>

      <div class="cms__grid-block cms-block-stub"></div>
    </section>
  </client-only>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "GridBlock",
  data() {
    return {
      slots: this.$slots,
    };
  },

  components: {},
  computed: {
    gridSlots() {
      return Object.keys(this.slots);
    },
  },
});
</script>

<style lang="scss">
.tm-GridBlock {
  padding: 10px;
  margin: 30px 0;

  iframe {
    width: 100%;
  }
}

.tm-GridBlock__wrapper {
  & h1 {
    color: #2b2a28;
    font-family: "helveticanouanormal", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  & > div:not(:first-child) {
    border-left: 5px solid var(--c-primary);
  }
}

.tm-GridBlock__item {
  padding: 10px;
}
</style>