<template>
  <section class="container">
    <div class="tm-titleBlock__root">
      <div v-if="getTitleType == 'uk-heading-line-left'" class="tm-titleBlock__title-wrapper">
        <div class="tm-titleBlock__title" v-html="values.content">fhshsd</div>
      </div>

      <div v-else v-html="values.content"></div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "HeadingBlock",
  data() {
    // console.log(this);
    return {};
  },

  computed: {
    getTitleType() {
      return this?.cfgs?.style || "";
    },
  },
});
</script>

<style lang="scss">
.tm-titleBlock__root {
  padding: 40px 10px 10px 0px;
}

.tm-titleBlock__title-wrapper {
  border-left: 15px solid var(--c-primary);
  padding: 0 0 0 20px;
  max-width: 90%;
  margin-bottom: 20px;

  @media (max-width: 460px) {
    max-width: 100%;
    padding: 0 0 0 10px;
    border-left: 10px solid var(--c-primary);
  }
}

.tm-titleBlock__title {
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 460px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.tm-titleBlock__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 460px) {
    font-size: 14px;
    line-height: 20px;
  }
}
</style>