<template>
  <section class="mb-10">
    <div class="relative tm-home_slider-wrapper">
      <div :style="getImgPath" class="tm-home_slider-img" alt />
      <div class="container">
        <div class="tm-home_slider__content">
          <div class="tm-home_slider-title font-Intro">{{slider.title}}</div>

          <div class="flex w-full justify-center">
            <nuxt-link :to="getUrl" class="tm-home_slider-watch">{{slider.link_text}}</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "HomeSliderBlock",
  data() {
    let slider = this?.extras?.items?.[0] || [];
    return {
      slider,
    };
  },
  computed: {
    getImgPath() {
      const imgId = String(this?.slider?.image?.id) || "";
      const widthImg = String(this?.slider?.image?.resolutionWidth) || "2532";
      const heightImg = String(this?.slider?.image?.resolutionHeight) || "1281";

      const imgUrl = this.$img(imgId, { width: widthImg, height: heightImg });
      return `background-image: url(${imgUrl})`;
    },

    getUrl() {
      return `${this?.values?.items?.[0]?.link || "/"}`;
    },
  },
});
</script>

<style lang="scss">
.tm-home_slider-wrapper {
  height: 700px;

  @media (max-width: 600px) {
    height: 460px;
  }
}

.tm-home_slider-img {
  position: absolute;
  left: calc(((100vw - 100%) / 2) * -1);
  right: calc(((100vw - 100%) / 2) * -1);
  max-width: inherit;
  width: 100vw;
  object-fit: cover;
  height: 100%;
  z-index: 50;
  background-size: cover;

  background-position: 50% 50%;
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: linear-gradient(
      to right,
      rgba(16, 16, 16, 0.4) 0%,
      rgba(16, 16, 16, 0.4) 30%,
      rgba(16, 16, 16, 0) 100%
    );
  }

  @media (min-width: 1000px) {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.tm-home_slider__content {
  position: relative;
  max-width: 600px;
  z-index: 55;
  animation: 1.5s 1 alternate slidein;
  top: 150px;
  left: 0;

  @media (max-width: 1000px) {
    width: 480px;
  }

  @media (max-width: 800px) {
    width: 300px;
  }
}
.tm-home_slider-title {
  font-size: 60px;
  line-height: 1.25;
  margin-bottom: 50px;
  font-weight: 400;
  color: white;
  text-align: center;

  @media (max-width: 1000px) {
    font-size: 48px;
  }

  @media (max-width: 800px) {
    font-size: 40px;
  }

  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}
.tm-home_slider-watch {
  padding-bottom: 4px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;

  @apply border-b border-primary hover:border-transparent font-ProximaNova;
}

@keyframes slidein {
  from {
    transform: translateX(50px) translateY(0) translateZ(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
  }
}
</style>