<template>
  <section class="container tm-home-text">
    <div v-observe-visibility="{callback: visibalBlock }" class="container">
      <div
        v-html="values.text"
        :class="{'__tm-showHomeTextBlock': isVisibleBlock}"
        class="tm-home-text__container"
      ></div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import { ObserveVisibility } from "vue-observe-visibility";

export default BaseCmsBlock.extend({
  name: "HomeTextBlock",
  data() {
    // console.log(this,)
    return {
      isVisibleBlock: false,
    };
  },
  components: {},

  directives: {
    ObserveVisibility,
  },

  methods: {
    visibalBlock(isVisible, entry) {
      this.isVisibleBlock = isVisible;
    },
  },
});
</script>

<style lang="scss">
.tm-home-text__container {
  opacity: 0;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 50px;

  & > p {
    display: block;
    margin: 20px 0;
  }
}
.__tm-showHomeTextBlock {
  opacity: 1;
  animation: 1.5s 1 alternate cubic-bezier(0.6, 0.2, 0.1, 1) showSubpage;
}

@keyframes showSubpage {
  from {
    transform: translateY(20px) scale(0.9);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
</style>