<template>
  <div class="flex justify-center" v-html="values.html"></div>
</template>
<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "HtmlBlock",
  data() {
    // console.log(this,)
    return {};
  },
});
</script>