<template >
  <section class="tm-imageInfo">
    <div class="container tm-imageInfo-root">
      <div class="tm-imageInfo-left">
        <nuxt-img :src="`${String(extras.image.id)}`"></nuxt-img>
      </div>
      <div class="tm-imageInfo-right">
        <div class="tm-imageInfo__text-1">{{values.text_1}}</div>
        <div class="tm-imageInfo__text-2">{{values.text_2}}</div>
        <div class="tm-imageInfo__text-3">{{values.text_3}}</div>
        <div class="tm-imageInfo__btn-wrapper">
          <nuxt-link class="tm-btn__primary" :to="`${values.link}`">{{values.link_text}}</nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "ImageInfoBlock",
  data() {
    // console.log(this,)
    return {};
  },
  components: {},
});
</script>

<style lang="scss">
.tm-imageInfo {
  margin-bottom: 50px;
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
  background: #f6f6f6;

  @media (max-width: 1000px) {
    margin-left: calc(-50vw + 50%);
    width: calc(100vw);
  }
}

.tm-imageInfo-root {
  padding: 50px 10px;
  height: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 800px) {
    padding: 30px 10px;
    height: auto;
  }
}

.tm-imageInfo-left {
  width: 50%;
  height: 100%;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}

.tm-imageInfo-right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 440px;
  width: 100%;
  height: 100%;

  @media (max-width: 1000px) {
    max-width: 100%;
    align-items: center;
  }
}

.tm-imageInfo__text-1 {
  font-size: 12px;
  line-height: 1;
  font-family: "ProximaNova";
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
  letter-spacing: 0.1em;
  color: #000;
}

.tm-imageInfo__text-2 {
  font-size: 36px;
  line-height: 1;
  font-family: "Intro";
  color: #000;
  margin-bottom: 20px;

  @media (max-width: 1000px) {
    text-align: center;
  }
}

.tm-imageInfo__text-3 {
  max-width: 340px;
  margin: 0 0 20px 50px;
  font-size: 16px;
  line-height: 30px;
  font-family: "GothamPro";

  @media (max-width: 1000px) {
    max-width: 100%;
    margin: 0 0 20px 0px;
    text-align: center;
  }
}
.tm-imageInfo__btn-wrapper {
  max-width: 340px;
  margin-left: 50px;

  @media (max-width: 1000px) {
    margin-left: 0px;
  }
}
</style>