<template>
  <section class>
    <CoolLightBox
      :useZoomBar="true"
      :items="images"
      :index="index"
      :effect="'fade'"
      @close="index = null"
    ></CoolLightBox>
    <div :class="setClassGrid(3)" class="container grid grid-cols-1 gap-2 sm:gap-5">
      <div
        @click="index = idx"
        v-for="(item,idx) in values.items"
        :key="item.id"
        class="flex flex-col justify-between"
      >
        <div class="overflow-hidden">
          <nuxt-img
            loading="lazy"
            :width="400"
            :height="600"
            class="object-cover duration-700 block cursor-pointer hover:scale-105"
            :src="`${item.imageId}`"
            alt="img"
          />
        </div>
        <div>
          <p
            class="text-lg lg:text-[24px] mt-2 mb-2 text-center leading-[18px] lg:leading-7"
          >{{item.caption}}</p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
export default BaseCmsBlock.extend({
  name: "ImageGalleryBlock",
  data() {
    // console.log(this,)
    return {
      index: null,
    };
  },
  computed: {
    images() {
      return this.values.items.map((item) => {
        return {
          src: this.$img(item.imageId.toString(), {
            width: 600,
          }),
          title: item.caption,
        };
      });
    },
  },
  methods: {
    setClassGrid(idx) {
      if (idx > 4) {
        idx = idx - Math.floor(idx / 5) * 5;
      }
      if (idx % 4 === 0) return "md:grid-cols-4";
      if (idx % 3 === 0) return "md:grid-cols-3";
      if (idx % 2 === 0) return "md:grid-cols-2";
      if (idx % 1 === 0) return "md:grid-cols-1";
    },
  },
});
</script>





