<template>
  <section class="tm-lastArticle">
    <div v-observe-visibility="{callback: visibalBlock }">
      <div class="container">
        <div class="tm-lastArticle__root">
          <div class="h2">{{values.heading}}</div>

          <div class="flex w-full justify-center">
            <nuxt-link :to="`/blog`" class="tm-lastArticle__watch">ЧИТАТЬ БЛОГ</nuxt-link>
          </div>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <div
              class="tm-lastArticle__card-wrapper"
              v-for="(card, idx) in extras.articles"
              :key="`tm-lastArticle-${idx}`"
            >
              <BlogCard
                :date="card.date"
                :title="card.title"
                :imgId="card.image_id"
                :slug="card.slug"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import { ObserveVisibility } from "vue-observe-visibility";
import BlogCard from "~/components/blog/BlogCard.vue";

export default BaseCmsBlock.extend({
  name: "LastArticlesBlock",
  data() {
    // console.log(this,)
    return {
      isVisibleBlock: false,
    };
  },
  directives: {
    ObserveVisibility,
  },
  components: {
    BlogCard,
  },

  methods: {
    visibalBlock(isVisible, entry) {
      this.isVisibleBlock = isVisible;
    },
  },
});
</script>

<style lang="scss">
.tm-lastArticle {
  margin-bottom: 50px;
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
  background: #f6f6f6;

  @media (max-width: 1000px) {
    margin-left: calc(-50vw + 50%);
    width: calc(100vw);
  }
}
.tm-lastArticle__root {
  padding: 20px 0;
}

.tm-lastArticle__watch {
  padding-bottom: 4px;
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 30px;

  @apply border-b border-primary hover:border-transparent font-ProximaNova;
}
</style>