<template>
  <section class="tm-linkImageText">
    <div class="tm-linkImageText__root container">
      <div class="tm-linkImageText__image">
        <nuxt-img loading="lazy" :src="`${String(values.image)}`"></nuxt-img>
      </div>

      <div class="tm-linkImageText__text">{{values.text}}</div>
      <div class="tm-linkImageText__btn-wrapper">
        <nuxt-link :to="values.link" class="tm-btn__primary">{{values.link_text}}</nuxt-link>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "LinkImageTextBlock",
  data() {
    // console.log(this,)
    return {};
  },
  components: {},
});
</script>

<style lang="scss">
.tm-linkImageText {
  margin-bottom: 30px;
  width: calc(100vw - 20px);
  margin-left: calc(-50vw + 50% + 10px);
  background: #f6f6f6;

  @media (max-width: 1000px) {
    margin-left: calc(-50vw + 50%);
    width: calc(100vw);
  }
}

.tm-linkImageText__root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  max-width: 520px;
}
.tm-linkImageText__image {
  width: 100px;
  height: 78px;
  margin-bottom: 30px;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.tm-linkImageText__text {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 30px;
  font-family: "GothamPro";
  font-weight: 400;
  color: #000;
  text-align: center;
}

.tm-linkImageText__btn-wrapper {
  max-width: 156px;
  margin-bottom: 60px;
}
</style>