<template>
  <section class="tm-manufacturerBlock">
    <div class="tm-manufacturerBlock__wrapper">
      <div class="tm-manufacturerBlock__title">{{values.title}}</div>
      <div class="tm-manufacturerBlock__content">
        <div class="tm-manufacturerBlock__img-left">
          <nuxt-img format="png" :src="`${String(values.image_left_small)}`" loading="lazy"></nuxt-img>
        </div>

        <div class="tm-manufacturerBlock__mainText">
          <div class="tm-manufacturerBlock__mainText-title">{{values.text_left_1}}</div>

          <div class="tm-manufacturerBlock__mainText-subTitle">
            <strong>
              <em>{{values.text_left_2}}</em>
            </strong>
          </div>

          <div class="tm-manufacturerBlock__mainText-name">{{values.text_left_3}}</div>
        </div>

        <div class="tm-manufacturerBlock__image_right_1">
          <nuxt-img :src="`${String(values.image_right_1)}`" loading="lazy"></nuxt-img>
        </div>

        <div class="tm-manufacturerBlock__image_right_2">
          <nuxt-img :src="`${String(values.image_right_2)}`" loading="lazy"></nuxt-img>
        </div>
      </div>
      <div class="tm-manufacturerBlock__bottom-text">
        <div class="tm-hidden w-[43%]"></div>
        <div class="tm-manufacturerBlock__bottom-text-wrapper">
          <div class="tm-manufacturerBlock__bottom-text1">{{values.text_right_1}}</div>
          <div class="tm-manufacturerBlock__bottom-text2">{{values.text_right_2}}</div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "ManufacturerBlock",
  data() {
    // console.log(this,)
    return {};
  },
  components: {},
});
</script>

<style lang="scss">
.tm-manufacturerBlock {
  background: #f6f6f6;
  padding: 10px;
}

.tm-manufacturerBlock__wrapper {
  display: flex;
  flex-direction: column;
}

.tm-manufacturerBlock__title {
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "helveticanouanormal", Sans-serif;
  text-align: center;
  margin: 20px 0;

  @media (max-width: 800px) {
    font-size: 26px;
  }
}

.tm-manufacturerBlock__content {
  display: flex;
  margin-bottom: 20px;

  @media (max-width: 1000px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.tm-manufacturerBlock__img-left {
  width: 13%;
  display: flex;
  justify-content: center;
  position: relative;
  transform: translate(0, -10%);

  & > img {
    max-width: 150px;
    max-height: 205px;

    @media (max-width: 800px) {
      max-width: 80px;
      max-height: 110px;
    }
  }

  @media (max-width: 1000px) {
    width: 100%;
    transform: translate(0, 0);
  }
}

.tm-hidden {
  display: block;

  @media (max-width: 1000px) {
    display: none;
  }
}

.tm-manufacturerBlock__mainText {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-right: 5px solid var(--c-primary);

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.tm-manufacturerBlock__mainText-title {
  color: #2b2a28;
  font-family: "helveticanouanormal";
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  line-height: 1.2;
  margin-bottom: 20px;

  @media (max-width: 1000px) {
    font-size: 30px;
  }

  @media (max-width: 800px) {
    font-size: 20px;

    margin-top: 20px;
  }
}
.tm-manufacturerBlock__mainText-subTitle {
  color: #4e4e4e;
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 23px;
  line-height: 34px;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.tm-manufacturerBlock__mainText-name {
  font-family: "helveticanouanormal", Sans-serif;
  line-height: 24px;
  color: #7a7a7a;
  font-weight: 400;
  font-size: 16px;

  @media (max-width: 800px) {
    font-size: 13px;
  }
}
.tm-manufacturerBlock__image_right_1,
.tm-manufacturerBlock__image_right_2 {
  padding: 0 10px 15px;
  margin-top: 40px;
  width: 25%;
  max-height: 480px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (max-width: 1000px) {
    margin-right: 10px;
    width: calc(50% - 10px);

    margin-top: 15px;
  }
}

.tm-manufacturerBlock__bottom-text {
  display: flex;
}

.tm-manufacturerBlock__bottom-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding-left: 10px;

  @media (max-width: 1000px) {
    width: 100%;
  }
}
.tm-manufacturerBlock__bottom-text1 {
  color: #2b2a28;
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 33px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    font-size: 18px;
    text-align: center;
  }
}

.tm-manufacturerBlock__bottom-text2 {
  color: #2b2a28;
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    font-size: 18px;
    text-align: center;
  }
}
</style>