<template>
  <section class="tm-mapBlock">
    <div class="tm-sharedExperienceBlock__title-wrapper">
      <div class="tm-sharedExperienceBlock__title">{{values.title}}</div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "MapBlock",
});
</script>

<style lang="scss">
.tm-mapBlock {
  padding: 30px 100px;
}

// .tm-sharedExperienceBlock__title-wrapper {
//   padding-left: 20px;
//   border-left: 15px solid var(--c-primary);
//   margin-bottom: 36px;
//   margin-top: 30px;

// }

// .tm-sharedExperienceBlock__title {
//   color: #2b2a28;
//   font-size: 35px;
//   font-weight: 600;
//   line-height: 1.2;
//   margin-bottom: 20px;
//   font-family: "helveticanouanormal", Sans-serif;
// }
</style>