<template>
  <section class="tm-partnersEmployees">
    <div class="tm-partnersEmployees__root">
      <div class="tm-partnersEmployees__title-wrapper">
        <div class="tm-partnersEmployees__title">{{values.title}}</div>
        <div class="tm-partnersEmployees__subtitle">{{values.subtitle}}</div>
      </div>

      <div class="tm-partnersEmployees__content">
        <div class="tm-partnersEmployees__cards-wrapper">
          <div
            v-for="(person,idx) in peopleList"
            :key="`person-idx-${idx}`"
            class="tm-partnersEmployees__card"
          >
            <PersonCardInfo
              :email="person.email"
              :phone="person.phone"
              :position="person.position"
              :img="person.image"
              :name="person.name"
              @openModal="openModal"
            />
          </div>
        </div>
      </div>
    </div>
    <ModalForm label="Оставить заявку" :isName="true" :isPhone="true" name="request-order" />
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import PersonCardInfo from "~/components/partners/PersonCardInfo.vue";
import ModalForm from "~/components/modals/ModalForm.vue";

export default BaseCmsBlock.extend({
  name: "PartnersEmployeesBlock",
  data() {
    const peopleList = this?.values?.items?.[0]?.departments?.[0]?.people || [];
    // console.log(this,)
    return {
      peopleList,
    };
  },
  components: {
    PersonCardInfo,
    ModalForm,
  },
  mounted() {
    this.getMaxHeight();
  },
  computed: {},
  methods: {
    openModal() {
      this.$modal.show("request-order");
    },

    getMaxHeight() {
      if (process.client) {
        let heightNodeList = document.querySelectorAll(
          ".tm-personCardInfo__position"
        );
        let maxHeight = 0;

        heightNodeList.forEach((t) => {
          if (t.offsetHeight > maxHeight) {
            maxHeight = t.offsetHeight;
          }
        });

        heightNodeList.forEach((t) => {
          t.style = `height:${maxHeight}px`;
        });
      }
    },
  },
});
</script>

<style lang="scss">
.tm-partnersEmployees {
  background: #f6f6f6;
}

.tm-partnersEmployees__root {
  padding: 40px 10px 10px 20px;
}

.tm-partnersEmployees__title-wrapper {
  border-left: 15px solid var(--c-primary);
  padding: 0 0 0 20px;
  max-width: 90%;
  margin-bottom: 20px;

  @media (max-width: 460px) {
    max-width: 100%;
    padding: 0 0 0 10px;
    border-left: 10px solid var(--c-primary);
  }
}

.tm-partnersEmployees__title {
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 460px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.tm-partnersEmployees__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 460px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.tm-partnersEmployees__content {
  max-width: 1140px;
  margin: 0 auto;
}

.tm-partnersEmployees__cards-wrapper {
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
}

.tm-partnersEmployees__card {
  margin-left: 20px;
  width: calc(33.33% - 20px);
  margin-bottom: 12px;

  @media (max-width: 1000px) {
    margin-left: 10px;
    width: calc(50% - 10px);
  }

  @media (max-width: 600px) {
    margin-left: 10px;
    width: 100%;
  }
}
</style>