<template>
  <section class="tm-requisitesBlock">
    <div class="h1 !mb-8">Реквизиты</div>
    <div class="flex py-2.5 px-2 sm:px-6 border-b-2 border-primary">
      <div class="text-xs sm:text-base w-1/2 font-bold">Наименование</div>
      <div class="text-xs sm:text-base w-1/2 font-bold">ООО «Завод рецептурной оптики ОДВ»</div>
    </div>
    <template v-for="(str,idx) in values.items">
      <div
        v-if="values.items.length-1 !== idx"
        :key="`str-idx-${idx}`"
        class="flex py-2.5 px-2 sm:px-6 border-b border-gray-300"
      >
        <div class="text-xs sm:text-base w-1/2">{{str.title}}</div>
        <div class="text-xs sm:text-base w-1/2">{{str.value}}</div>
      </div>
    </template>
    <div class="text-xs sm:text-base mt-6 font-bold">{{getLastElement}}</div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "RequisitesBlock",
  computed: {
    getLastElement() {
      const elems = this.values.items;
      return elems[elems.length - 1].title;
    },
  },
});
</script>

<style lang="scss">
.tm-requisitesBlock {
  max-width: 880px;
  margin: 60px auto 30px;
  padding: 0 20px;
}
</style>