<template>
  <section class="tm-reviewsBlock">
    <div class="tm-reviewsBlock__title">{{values.title}}</div>
    <div class="tm-reviewsBlock__title-text">{{values.text}}</div>

    <div class="tm-reviewsBlock__content">
      <div class="tm-reviewsBlock__left">
        <div class="tm-reviewsBlock__avatar">
          <nuxt-img loading="lazy" :src="`${values.review_image}`"></nuxt-img>
        </div>

        <div class="tm-reviewsBlock__left-name">{{values.review_name}}</div>

        <div class="tm-reviewsBlock__left-position">{{values.review_subtitle}}</div>

        <div class="tm-reviewsBlock__left-text" v-html="values.review_text"></div>
      </div>

      <div class="tm-reviewsBlock__right">
        <ul class="tm-ul">
          <li v-for="(img,idx) in values.reviews" :key="`img-idx-${idx}`">
            <div class="tm-reviewsBlock__right-img">
              <nuxt-img loading="lazy" :src="`${String(img.image)}`"></nuxt-img>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import { ObserveVisibility } from "vue-observe-visibility";

export default BaseCmsBlock.extend({
  name: "ReviewsBlock",
  data() {
    // console.log(this,)
    return {
      isVisibleBlock: false,
    };
  },

  components: {},

  directives: {
    ObserveVisibility,
  },

  methods: {
    visibalBlock(isVisible, entry) {
      this.isVisibleBlock = isVisible;
    },
  },
});
</script>

<style lang="scss">
.tm-reviewsBlock {
  padding: 10px;

  ul {
    padding: 0;
  }
}

.tm-reviewsBlock {
  margin-bottom: 20px;
}

.tm-reviewsBlock__title {
  padding: 30px;
  font-family: "helveticanouanormal", Sans-serif;
  text-align: center;
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;

  @media (max-width: 800px) {
    padding: 16px;

    font-size: 28px;
  }
}

.tm-reviewsBlock__title-text {
  color: #2b2a28;
  font-family: "helveticanoua", Sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 36px;
  max-width: 70%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;

  @media (max-width: 800px) {
    max-width: 100%;
    font-size: 15px;
    line-height: 24px;
  }
}

.tm-reviewsBlock__content {
  display: flex;
  flex-wrap: wrap;
}

.tm-reviewsBlock__left {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.tm-reviewsBlock__avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  min-width: 150px;
  overflow: hidden;
  border: 2px solid black;
  margin-bottom: 40px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.tm-reviewsBlock__left-name {
  color: #2b2a28;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 26px;
}

.tm-reviewsBlock__left-position {
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  width: 60%;
  margin-bottom: 32px;
  color: #54595f;
}

.tm-reviewsBlock__left-text {
  line-height: 18px;

  & .elementor-widget-container {
    padding: 0 !important;
  }

  & > div {
    width: auto !important;
  }
}

.tm-reviewsBlock__right {
  width: 75%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

.tm-reviewsBlock__right-img {
  transition-duration: 0.3;
  cursor: pointer;

  &:hover img {
    transform: scale(1.05);
  }

  & > img {
    transition-duration: 0.3s;
    width: 100%;
  }
}

.tm-ul {
  padding-bottom: 10px;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  width: 100%;
  list-style: none;

  @media (max-width: 1000px) {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }

  @media (max-width: 800px) {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  li {
    padding-top: 9px;
    &::before {
      content: none;
    }
  }
}
</style>