<template>
  <section class="tm-reviewsSliderBlock">
    <div class="tm-reviewsSliderBlock__title">{{values.title}}</div>
    <div v-swiper="swiperOptions">
      <div class="swiper-wrapper">
        <div class="swiper-slide" :key="`slide-id-${idx}`" v-for="(slide,idx) in values.reviews">
          <div class="tm-reviewsSliderBlock__slider-wrapper">
            <div class="tm-reviewsSliderBlock__slider-title-wrapper space-x-3">
              <div v-if="slide.image" class="tm-reviewsSliderBlock__slider-img">
                <nuxt-img loading="lazy" :src="`${String(slide.image)}`"></nuxt-img>
              </div>

              <div class="flex flex-col items-center">
                <div v-if="slide.title" class="tm-reviewsSliderBlock__slider-title">{{slide.title}}</div>
                <div
                  v-if="slide.subtitle"
                  class="tm-reviewsSliderBlock__slider-subtitle"
                >{{slide.subtitle}}</div>
              </div>
            </div>
            <div class="tm-reviewsSliderBlock__card-wrapper" v-html="slide.text"></div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
      <div class="mt-3 justify-center tm-swiper-pagination"></div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "ReviewsSliderBlock",
  data() {
    // console.log(this,)
    return {
      swiperOptions: {
        // autoplay: {
        //   delay: 5000,
        //   disableOnInteraction: false,
        // },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        slidesPerView: "auto",
        pagination: {
          el: ".tm-swiper-pagination",
        },
        loop: true,
        breakpoints: {
          0: {
            spaceBetween: 48,
          },
          768: {},
          1000: {
            spaceBetween: 12,
          },
          1500: {},
        },
      },
    };
  },
  components: {},
});
</script>

<style lang="scss">
.tm-reviewsSliderBlock {
  max-width: 1140px;
  margin: 20px auto 50px;
  padding: 0 15px;

  & .swiper-button-next,
  & .swiper-button-prev {
    color: var(--c-primary) !important;
    font-family: "ProximaNova";
    &::after {
      font-size: 26px !important;
      font-weight: 600;
    }
  }

  & .swiper-slide {
    @media (max-width: 1000px) {
      padding: 10px 40px;
    }
  }

  @media (max-width: 1000px) {
    padding: 0;
  }
}

.tm-reviewsSliderBlock__title {
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "helveticanouanormal", Sans-serif;
  text-align: center;

  @media (max-width: 640px) {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}
.tm-reviewsSliderBlock__slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 1024px;
  margin: 0 auto;
}

.tm-reviewsSliderBlock__slider-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  @media (max-width: 640px) {
    margin-bottom: 12px;
  }
}

.tm-reviewsSliderBlock__slider-img {
  width: 107px;
  height: 107px;
  min-width: 107px;
  border-radius: 50%;
  border: 2px solid var(--c-primary);

  & > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  @media (max-width: 640px) {
    width: 56px;
    height: 56px;
    min-width: 56px;
  }
}

.tm-reviewsSliderBlock__slider-title {
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 21px;
  font-weight: 600;

  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 21px;
  }
}

.tm-reviewsSliderBlock__slider-subtitle {
  color: #343434;
  font-family: "helveticanouanormal", Sans-serif;
  font-weight: 400;
  font-size: 14px;

  @media (max-width: 640px) {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}

.tm-reviewsSliderBlock__card-wrapper {
  background-color: #e6e9ec;
  padding: 20px;
  font-style: italic;

  @media (max-width: 640px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.tm-swiper-pagination {
  @apply flex space-x-2;
  & .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #000;
    opacity: 0.2;
  }
  & .swiper-pagination-bullet-active {
    background-color: var(--c-primary);
    opacity: 1;
  }
}
</style>