<template>
  <section class="tm-scheduleBlock">
    <div class="tm-scheduleBlock__root">
      <div class="tm-scheduleBlock__left">
        <div class="tm-scheduleBlock__image">
          <nuxt-img loading="lazy" format="png" :src="`${String(values.image)}`"></nuxt-img>
        </div>

        <div class="mb-5 tm-scheduleBlock__left-item-wrapper">
          <div>
            <div class="tm-scheduleBlock__left-item space-x-1 md:space-x-3">
              <div class="tm-scheduleBlock__icon">
                <img src="~/assets/img/svg/partners/geolocation.svg" alt="geoloc" />
              </div>
              <div class>
                <span class>Адрес:</span>
                <div class="tm-scheduleBlock__left-text" v-html="values.address"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-5 tm-scheduleBlock__left-item-wrapper">
          <div class="tm-scheduleBlock__left-item space-x-1 md:space-x-3">
            <div class="tm-scheduleBlock__icon">
              <img src="~/assets/img/png/partners/mail.png" alt="geoloc" />
            </div>
            <div class>
              <span class>E-mail:</span>
              <div class="tm-scheduleBlock__left-text" v-html="values.email"></div>
            </div>
          </div>
        </div>

        <div class="hidden md:block border-t border-black py-4"></div>

        <div class="tm-scheduleBlock__left-item-wrapper">
          <div class="tm-scheduleBlock__left-item space-x-1 md:space-x-3">
            <div class="tm-scheduleBlock__icon">
              <img src="~/assets/img/png/partners/phone.png" alt="geoloc" />
            </div>
            <div class>
              <span class>Прием заказов, горячая линия консультаций:</span>
              <div class="tm-scheduleBlock__left-text" v-html="values.requests"></div>
            </div>
          </div>
        </div>

        <div class="block md:hidden tm-scheduleBlock__left-item-wrapper">
          <div class="tm-scheduleBlock__left-item">
            <div></div>
            <div>
              <span class>График работы отдела клиентского сервиса</span>
              <div class="tm-scheduleBlock__left-text" v-html="values.schedule"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-scheduleBlock__right">
        <div
          class="hidden md:block tm-scheduleBlock__right-title"
        >ГРАФИК РАБОТЫ ОТДЕЛА КЛИЕНТСКОГО СЕРВИСА</div>
        <div class="hidden md:block tm-scheduleBlock__left-text mb-5" v-html="values.schedule"></div>
        <div class="border-t border-black py-4"></div>
        <div class="tm-scheduleBlock__right-title">АДРЕС, РЕКВИЗИТЫ ЗАВОДА:</div>
        <div class="text-xs md:text-base" v-html="values.requisites"></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "ScheduleBlock",
});
</script>

<style lang="scss">
.tm-scheduleBlock {
  background: #f6f6f6;

  p,
  li {
    color: #7a7a7a;
  }
}
.tm-scheduleBlock__root {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;

  @media (max-width: 800px) {
    flex-direction: column;
    padding-top: 20px;
  }
}
.tm-scheduleBlock__left {
  padding: 10px;
  width: 35%;
  display: flex;
  flex-direction: column;

  @media (max-width: 800px) {
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;
  }
}
.tm-scheduleBlock__right {
  padding: 10px;
  width: 65%;

  @media (max-width: 800px) {
    width: 100%;
  }
}
.tm-scheduleBlock__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  & img {
    width: 100%;
    height: 100%;

    width: 180px;
    min-width: 180px;
    height: 86px;
  }
}

.tm-scheduleBlock__left-item-wrapper {
  @media (max-width: 800px) {
    width: 50%;
    margin-bottom: 10px;
  }
}

.tm-scheduleBlock__left-item {
  display: flex;
  display: flex;
  align-items: inherit;
  margin-bottom: 20px;

  & span {
    color: #444545;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;

    @media (max-width: 800px) {
      font-size: 16px;
      display: block;
      line-height: 20px;
    }

    @media (max-width: 460px) {
      font-size: 14px;
      display: block;
      line-height: 20px;
    }
  }

  @media (max-width: 460px) {
    margin-bottom: 10px;
  }
}

.tm-scheduleBlock__icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
}

.tm-scheduleBlock__left-text {
  line-height: 24px;
  font-size: 16px;
  color: #7a7a7a;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: 4600px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.tm-scheduleBlock__right {
  display: flex;
  flex-direction: column;
}
.tm-scheduleBlock__right-title {
  color: #444545;
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (max-width: 800px) {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
}
</style>