<template>
  <section class="uk-section">
    <div :class="getClass">
      <div v-for="slotName of gridSlots" :key="slotName">
        <slot :name="slotName"></slot>
      </div>
    </div>

    <div class="cms__grid-block cms-block-stub"></div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "SectionBlock",
  data() {
    return {
      slots: this.$slots,
    };
  },
  computed: {
    gridSlots() {
      return Object.keys(this.slots);
    },

    getClass() {
      return String(
        this?.extras?.sectionCssClasses.split(" ")?.[1] || "tm-sectioBlock"
      );
    },
  },
});
</script>

<style lang="scss">
.uk-section {
  .tm-sectioBlock {
    margin: 20px 0;
    background: #f6f6f6;
    padding: 25px 0;
  }
  .uk-section-muted {
    margin: 20px 0;
    background: #f6f6f6;
    padding: 25px 0;
  }
}
</style>