<template>
  <section class="tm-sharedExperienceBlock">
    <div class="tm-sharedExperienceBlock__title-wrapper">
      <div class="tm-sharedExperienceBlock__title">{{values.title}}</div>
      <div class="tm-sharedExperienceBlock__subtitle">{{values.subtitle}}</div>
    </div>

    <div class="tm-sharedExperienceBlock__3d">
      <div class="swiper" v-swiper="swiperOptions">
        <div class="swiper-wrapper">
          <div class="swiper-slide" :key="`slide-id-${idx}`" v-for="(slide,idx) in values.images">
            <div v-if="slide.image" class="tm-sharedExperienceBlock__slider-img">
              <nuxt-img
                fit="crop"
                width="1000"
                height="600"
                loading="lazy"
                :src="`${String(slide.image)}`"
              ></nuxt-img>
            </div>
          </div>
        </div>

        <div class="mt-3 justify-center tm-swiper-pagination-shared"></div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

export default BaseCmsBlock.extend({
  name: "SharedExperienceBlock",
  data() {
    // console.log(this,)
    return {
      swiperOptions: {
        effect: "coverflow",
        grabCursor: true,

        slidesPerView: 3,

        coverflowEffect: {
          rotate: 60,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true,
        },
        autoplay: {
          delay: 5000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".tm-swiper-pagination-shared",
        },
        loop: true,
        breakpoints: {
          0: { spaceBetween: 12, slidesPerView: 1 },
          768: { spaceBetween: 12, slidesPerView: 2 },
          1000: { spaceBetween: 12, slidesPerView: 3 },
        },
      },
    };
  },
  components: {},
});
</script>

<style lang="scss">
.tm-sharedExperienceBlock {
  padding: 20px;
  background: #f6f6f6;

  .tm-sharedExperienceBlock__3d {
    width: 100%;
    margin-bottom: 20px;
  }
  .swiper {
    height: 100%;
    width: 100%;
  }
  .swiper-slide {
    height: 470px;
  }
}

.tm-swiper-pagination-shared {
  @apply flex space-x-2;

  & .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #000;
    opacity: 0.2;
  }

  & .swiper-pagination-bullet-active {
    background-color: var(--c-primary);
    opacity: 1;
  }
}

.tm-sharedExperienceBlock__slider-img {
  height: 100%;

  & > img {
    object-fit: cover;
    height: 100%;

    @media (max-width: 1000px) {
    }
  }
}

.tm-sharedExperienceBlock__title-wrapper {
  border-left: 15px solid var(--c-primary);
  padding: 0 0 0 20px;
  max-width: 90%;
  margin-bottom: 36px;

  @media (max-width: 460px) {
    max-width: 100%;
    padding: 0 0 0 10px;
    border-left: 10px solid var(--c-primary);
    margin-bottom: 20px;
  }
}

.tm-sharedExperienceBlock__title {
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 460px) {
    font-size: 22px;
    line-height: 20px;
  }
}

.tm-sharedExperienceBlock__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 460px) {
    font-size: 14px;
    line-height: 20px;
  }
}
</style>