<template>
  <section class="tm-sliderWithForm2Block">
    <div class="tm-sliderWithForm2Block__content">
      <div class="tm-sliderWithForm2Block__border">
        <div class="tm-sliderWithForm2Block__title">{{currentData.title}}</div>
        <div class="tm-sliderWithForm2Block__subTitle">{{currentData.subtitle}}</div>
      </div>
    </div>
    <div class="tm-sliderWithForm2Block__img">
      <nuxt-img :src="`${String(currentData.image_big)}`" width="1500" height="686" loading="lazy"></nuxt-img>
    </div>
    <div
      v-observe-visibility="{
        callback: visibalBlock ,
        once: true}"
      :class="{'__visible': isVisibleBlock}"
      class="tm-sliderWithForm2Block__form"
    >
      <div class="tm-sliderWithForm2Block__form-wrapper">
        <FormRequest
          label="Оставьте контакты, чтобы узнать подробнее"
          :isContainer="true"
          :isEmail="true"
          :isPhone="true"
        />
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import FormRequest from "~/components/common/FormRequest.vue";
import { ObserveVisibility } from "vue-observe-visibility";

export default BaseCmsBlock.extend({
  name: "SliderWithFormBlock2Block",
  data() {
    const currentData = this?.values?.items?.[0] || [];
    return {
      currentData,
      isVisibleBlock: false,
    };
  },
  components: {
    FormRequest,
  },
  directives: {
    ObserveVisibility,
  },
  methods: {
    visibalBlock(isVisible, entry) {
      this.isVisibleBlock = isVisible;
    },
  },
});
</script>

<style lang="scss">
.tm-sliderWithForm2Block {
  overflow: hidden;

  @media (max-width: 800px) {
    margin-bottom: 20px;
  }
}

.tm-sliderWithForm2Block__content {
  padding: 0 0 0 20px;
  margin-bottom: 42px;

  @media (max-width: 460px) {
    padding: 0 10px 0 10px;
  }
}

.tm-sliderWithForm2Block__border {
  border-left: 15px solid var(--c-primary);
  padding: 0 0 0 20px;
  max-width: 90%;

  @media (max-width: 460px) {
    max-width: 100%;
    padding: 0 0 0 10px;
    border-left: 10px solid var(--c-primary);
  }
}

.tm-sliderWithForm2Block__title {
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 460px) {
    font-size: 22px;
    line-height: 20px;
  }
}

.tm-sliderWithForm2Block__subTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: "helveticanouanormal", Sans-serif;

  @media (max-width: 800px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 460px) {
    font-size: 14px;
    line-height: 20px;
  }
}

.tm-sliderWithForm2Block__img {
  display: flex;
  justify-content: flex-end;
}

.tm-sliderWithForm2Block__form {
  position: relative;
  display: flex;
  justify-content: flex-end;

  transform: translateX(100%) translateY(-50%) translateZ(0);

  &.__visible {
    animation: 1.5s 1 alternate slideFormBlock;
    transform: translateX(-20px) translateY(-50%) translateZ(0);

    @media (max-width: 800px) {
      animation: 1.5s 1 alternate slideFormBlockAdaptive;
      padding: 0 10px;
      transform: translateX(0px) translateY(0%) translateZ(0);
    }
  }

  @media (max-width: 800px) {
    transform: translateX(100%) translateY(0) translateZ(0);
  }
}

.tm-sliderWithForm2Block__form-wrapper {
  width: 45%;

  @media (max-width: 800px) {
    width: 100%;
  }
}

@keyframes slideFormBlock {
  from {
    transform: translateX(100%) translateY(-50%) translateZ(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(-20px) translateY(-50%) translateZ(0);
  }
}

@keyframes slideFormBlockAdaptive {
  from {
    transform: translateX(100%) translateY(0) translateZ(0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
  }
}
</style>