<template>
  <section class="tm-sliderWithFormBlock">
    <div :style="getBgImg" class="tm-sliderWithFormBlock__wrapper">
      <div class="tm-sliderWithFormBlock__content">
        <div class="tm-sliderWithFormBlock__img">
          <nuxt-img format="png" loading="lazy" :src="`${currentData.image_small}`"></nuxt-img>
        </div>

        <div class="tm-sliderWithFormBlock__title">{{currentData.title}}</div>
        <div class="tm-sliderWithFormBlock__subtitle">{{currentData.subtitle}}</div>
        <div class="tm-sliderWithFormBlock__form-wrapper">
          <FormRequest
            :isEmail="true"
            :isPhone="true"
            :isContainer="true"
            label="Отправьте контакты, чтобы узнать подробнее"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import FormRequest from "~/components/common/FormRequest.vue";

export default BaseCmsBlock.extend({
  name: "SliderWithFormBlock",
  data() {
    const currentData = this?.values?.items?.[0] || [];
    return {
      currentData,
    };
  },
  components: {
    FormRequest,
  },

  computed: {
    getBgImg() {
      const imgId = String(this?.currentData?.image_big) || "";
      const imgPath = this.$img(imgId);

      return `background-image: url(${imgPath})`;
    },
  },
});
</script>

<style lang="scss">
.tm-sliderWithFormBlock {
  margin-bottom: 56px;
}

.tm-sliderWithFormBlock__wrapper {
  padding-left: 5%;
  background-position: center right;
  background-size: cover;

  display: flex;

  @media (max-width: 800px) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.tm-sliderWithFormBlock__img {
  margin-bottom: 60px;

  @media (max-width: 800px) {
    margin-bottom: 40px;
    max-width: 100px;
  }
}

.tm-sliderWithFormBlock__content {
  display: flex;
  flex-direction: column;
  width: 46%;

  @media (max-width: 1200px) {
    width: 80%;
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}

.tm-sliderWithFormBlock__title {
  color: #2b2a28;
  font-family: "helveticanoua", Sans-serif;
  font-size: 33px;
  font-weight: 200;
  line-height: 1.4em;
  padding-left: 20px;
  margin-bottom: 26px;

  @media (max-width: 1200px) {
    max-width: 60%;
  }

  @media (max-width: 800px) {
    max-width: 100%;
    margin-bottom: 20px;

    color: #fff;

    font-weight: 600;
    line-height: 1.4em;
    text-shadow: 0px 0px 2px #000;
    font-size: 20px;
  }
}
.tm-sliderWithFormBlock__subtitle {
  color: #a53692;
  font-family: "helveticanouanormal", Sans-serif;
  font-size: 57px;
  font-weight: 900;
  text-shadow: 0px 0px 0px rgb(0 0 0 / 92%);
  padding-left: 20px;
  line-height: 1.2;

  @media (max-width: 800px) {
    font-size: 40px;
    font-size: 20px;
  }
}

.tm-sliderWithFormBlock__form-wrapper {
  width: 80%;
  margin-top: 64px;

  @media (max-width: 800px) {
    width: 100%;
    margin-top: 40px;
  }
}
</style>