<template>
  <section class="tm-stroeBlock container">
    <div
      v-if="values.type !== 'default'"
      class="tm-modal__title"
    >Выберите ближайший салон оптики, где можно купить линзы ODV Superclean</div>
    <div v-if="values.type !== 'default'" class="flex justify-center items-center space-x-4 mb-5">
      <div class="flex items-center space-x-2">
        <img src="~/assets/img/svg/map/geoloc.svg" alt="logo" />
        <span class="tm-stroeBlock__select-city">ВЫБЕРИТЕ ГОРОД:</span>
      </div>
      <div @click="openModalCities" class="cursor-pointer tm-stroeBlock__select">Не выбран</div>
    </div>

    <div class="tm-stroeBlock__map-wrapper">
      <yandex-map
        v-if="showMap"
        :cluster-options="clusterName"
        :scroll-zoom="false"
        :coords="coords"
        :zoom="4"
        :controls="['zoomControl']"
        class="h-full"
      >
        <ymap-marker
          v-for="(store, idx) in extras.stores"
          :key="`store-idx-${idx}`"
          :marker-id="idx"
          :icon="markerIcon"
          :cluster-name="1"
          :balloon-template="balloonTemplate(store)"
          :coords="[store.lat, store.lon]"
        />
      </yandex-map>
    </div>
    <div v-if="values.type !== 'default'" class="grid grid-cols-5 gap-5 mt-14 px-28">
      <template v-if="citiesList.length">
        <div class="col-span-1" v-for="(cities,idx) in citiesList" :key="`cities-idx-${idx}`">
          <div class="tm-stroeBlock__citiesList">
            <div class="tm-stroeBlock__symbol">{{cities.symbol}}</div>
            <template v-if="cities.items.length">
              <div class="flex flex-col">
                <div v-for="(city,idx2) in cities.items" :key="`city-id-${idx2}`">
                  <nuxt-link
                    :to="`${city.sub_domain}`"
                    class="tm-stroeBlock__city"
                  >{{city.city_name}}</nuxt-link>
                </div>
              </div>
            </template>
          </div>
        </div>
      </template>
    </div>
    <CitiesListModal v-if="values.type !== 'default'" name="cities-list" label="Выберите город" />
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";

import Vue from "vue";
import YmapPlugin from "vue-yandex-maps";

const settings = {
  apiKey: "",
  lang: "ru_RU",
  coordorder: "latlong",
  enterprise: false,
  version: "2.1",
};

Vue.use(YmapPlugin, settings);
import { ymapMarker, yandexMap } from "vue-yandex-maps";
import CitiesListModal from "~/components/salony-optiki/CitiesListModal.vue";

export default BaseCmsBlock.extend({
  name: "StoresBlock",
  data() {
    console.log(this.values);
    return {
      currentStore: {},

      citiesList: [],

      //иконка кластера
      clusterName: {
        1: {
          clusterDisableClickZoom: false,
          clusterOpenBalloonOnClick: false,
          clusterIconColor: "#a72681",
          clusterNumbers: [50],
        },
      },

      //кастомная иконка
      markerIcon: {
        layout: "default#image",
        imageHref: require("~/assets/img/svg/map/map-icon.svg"),
        imageSize: [60, 80],
        imageOffset: [-24, -70],
      },

      coords: [54, 62],
      showMap: false,
    };
  },
  components: {
    yandexMap,
    ymapMarker,
    CitiesListModal,
  },
  mounted() {
    this.initCitiesList();
    this.showMap = true;
  },

  methods: {
    openModalCities() {
      this.$modal.show("cities-list");
    },

    initCitiesList() {
      let cities = Object.values(this?.extras?.cities).map((val) => {
        return val;
      });

      cities = this._sortCities(cities);

      let globalCitiesList = [];
      let sectionCities = [];

      cities.forEach((city, key) => {
        const prevCity = cities[key - 1];

        const prevCityWord = prevCity?.city_name[0];
        const cityWord = city?.city_name[0];

        if (prevCityWord === cityWord || key === 0) {
          sectionCities.push(city);
        } else {
          globalCitiesList.push({
            symbol: prevCityWord,
            items: sectionCities,
          });
          sectionCities = [];
          sectionCities = [city];
        }
      });

      if (sectionCities.length > 0) {
        globalCitiesList.push({
          symbol: sectionCities?.[0]?.city_name?.[0],
          items: sectionCities,
        });
      }

      this.citiesList = globalCitiesList;
    },

    _sortCities(cities) {
      cities.sort((a, b) => {
        let nameA = a.city_name.replace(/[^a-zA-ZА-Яа-я0-9]+/g, "");
        let nameB = b.city_name.replace(/[^a-zA-ZА-Яа-я0-9]+/g, "");

        if (nameA < nameB) return -1;
        if (nameA > nameB) return 1;

        return 0;
      });

      return cities;
    },

    balloonTemplate: function (store) {
      if (process.client) {
        const host = window.location.origin;
        return `
        <div class="baloon-title">${store?.title}</div>
        <div class="baloon-address">${store?.address} </div>
        <a href="${host}${store.url}" class="baloon-link">Подробнее</a>
      `;
      }
    },
  },
});
</script>


<style lang="scss">
.tm-stroeBlock {
  margin-bottom: 20px;
}

.tm-stroeBlock__title {
  color: #2b2a28;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
  margin: 20px 0;
  font-family: "helveticanouanormal", Sans-serif;
  text-align: center;

  @media (max-width: 640px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.tm-stroeBlock__map-wrapper {
  height: 520px;
  width: 100%;

  @media (max-width: 640px) {
    height: 320px;
  }
}

.baloon-title {
  font-size: 16px;
  font-family: "Noto Serif";
  margin-bottom: 1px;
}

.baloon-address {
  font-size: 14px;
  margin-bottom: 11px;
}

.baloon-link {
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.tm-stroeBlock__symbol {
  font-size: 30px;
  font-family: "Intro";
}

.tm-stroeBlock__city {
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.tm-stroeBlock__select-city {
  font-family: "ProximaNova";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 14px;
}

.tm-stroeBlock__select {
  font-family: "GothamPro", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    right: -10px;
    top: 13px;
    border: 3px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 3px;
    border-top: 3px solid #000;
  }
}
.tm-modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px;
  cursor: pointer;
}
</style>