<template>
  <section class="tm-subpageImageInfoBlock">
    <TopImg
      :text="values.text"
      :linkText="values.link_text"
      :title="values.title"
      :imgId="values.image"
      :link="values.link"
    />
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import TopImg from "~/components/common/TopImg.vue";

export default BaseCmsBlock.extend({
  name: "SubpageImageInfoBlock",
  components: {
    TopImg,
  },
});
</script>

<style lang="scss">
.tm-subpageImageInfoBlock {
  margin-bottom: 40px;
}
</style>