<template>
  <section class="container">
    <div v-if="getSubtitle" class="tm-subPage-subtitle font-ProximaNova">{{getSubtitle}}</div>
    <div v-if="getTitle" class="h2">{{getTitle}}</div>
    <div v-observe-visibility="{callback: visibalBlock }">
      <div
        :class="{'__tm-SubBlock__items-wrapper-threecols ': this.values.columns == 3,
        '__tm-showSubpage':isVisibleBlock}"
        class="tm-SubBlock__items-wrapper"
      >
        <div v-for="(page, idx) in extras.subpages" :key="idx" class="flex-shrink">
          <div class="tm-subPage__img-wrapper">
            <nuxt-link :to="page.href" class="h-full">
              <!-- <nuxt-img
                width="610"
                height="480"
                class="max-h-[480px] h-full w-full object-cover"
                loading="lazy"
                :src="`${page.image_id}`"
              />-->

              <div class="tm-adaptive-img" :style="getImagesPath(page.image_id)"></div>
            </nuxt-link>
          </div>

          <div class="flex flex-col mt-5 items-center">
            <span class="tm-SubBlock__Subtitle">{{page.sub_title}}</span>
            <nuxt-link class="tm-SubBlock__title font-Intro" :to="`${page.href}`">{{page.title}}</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import { ObserveVisibility } from "vue-observe-visibility";

export default BaseCmsBlock.extend({
  name: "SubpagesBlock",
  data() {
    // console.log(this.extras);
    return {
      isVisibleBlock: false,
    };
  },

  directives: {
    ObserveVisibility,
  },

  computed: {
    getTitle() {
      return this?.values?.title || "";
    },

    getSubtitle() {
      return this?.values?.subtitle || "";
    },
  },

  methods: {
    visibalBlock(isVisible, entry) {
      if (this.values.page == "pokrytiya-ultrasin") {
        this.isVisibleBlock = isVisible;
      }
    },

    getImagesPath(imgId) {
      const imgPath = this.$img(imgId.toString(), {
        width: "610",
        height: "480",
        fit: "crop",
      });

      return `background-image: url(${imgPath})`;
    },
  },
});
</script>
<style lang="scss">
.tm-subPage-subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.tm-SubBlock__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -60px;

  & > div {
    margin-bottom: 60px;
    margin-left: 60px;
    width: calc(50% - 60px);
  }

  @media (max-width: 1000px) {
    margin-left: -30px;

    & > div {
      margin-bottom: 30px;
      margin-left: 30px;
      width: calc(50% - 30px);
    }
  }

  @media (max-width: 800px) {
    margin-left: 0;

    & > div {
      margin-bottom: 20px;
      margin-left: 0px;
      width: 100%;
    }
  }
}
.__tm-SubBlock__items-wrapper-threecols {
  justify-content: flex-start;

  & > div {
    margin-bottom: 30px;
    margin-left: 60px;
    width: calc(33.333% - 60px);
  }

  @media (max-width: 1000px) {
    margin-left: -20px;

    & > div {
      margin-bottom: 20px;
      margin-left: 20px;
      width: calc(33.333% - 20px);
    }

    .tm-subPage__img-wrapper {
    }
  }

  @media (max-width: 800px) {
    & > div {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 680px) {
    & > div {
      width: 100%;
    }
  }
}
.__tm-showSubpage {
  opacity: 1;
  animation: 1.5s 1 alternate cubic-bezier(0.6, 0.2, 0.1, 1) showSubpage;
}

.tm-SubBlock__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 1000px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.tm-subPage__img-wrapper {
  @media (max-width: 1000px) {
  }

  @media (max-width: 800px) {
  }
}

.tm-SubBlock__Subtitle {
  font-family: "GothamPro";
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  color: #999;
  padding-bottom: 5px;
  letter-spacing: 0.05em;

  @media (max-width: 1000px) {
    font-size: 14px;
    line-height: 14px;
  }
}

@keyframes showSubpage {
  from {
    transform: translateY(20px) scale(0.9);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
</style>