<template>
  <section class="tm-videoBlock" :class="{'__tm-showVideoBlock': isVisibleBlock}">
    <div v-observe-visibility="{callback: visibalBlock }" class="tm-videoBlock__root">
      <div class="tm-home-title !mb-12">{{values.title}}</div>
      <div class="tm-videoBlock__content">
        <div class="w-full flex justify-center items-center" v-html="values.video"></div>
      </div>
    </div>
  </section>
</template>

<script>
import BaseCmsBlock from "../../node_modules/sitis-nuxt/lib/cms/CmsBlockMixin";
import { ObserveVisibility } from "vue-observe-visibility";

export default BaseCmsBlock.extend({
  name: "VideoBlock",
  data() {
    // console.log(this,)
    return {
      isVisibleBlock: false,
    };
  },

  components: {},

  directives: {
    ObserveVisibility,
  },

  methods: {
    visibalBlock(isVisible, entry) {
      this.isVisibleBlock = isVisible;
    },
  },
});
</script>

<style lang="scss">
.tm-videoBlock {
  opacity: 0;
}
.tm-videoBlock__root {
  padding: 20px 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 600px) {
    padding: 20px 30px 60px;
    iframe {
      width: 100%;
      height: auto;
      min-height: 300px;
    }
  }
}

.tm-videoBlock__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.__tm-showVideoBlock {
  opacity: 1;
  animation: 1.5s 1 alternate cubic-bezier(0.6, 0.2, 0.1, 1) showSubpage;
}

@keyframes showSubpage {
  from {
    transform: translateY(20px) scale(0.9);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
</style>