<template lang="pug">
  .app-header
    .app-header__logo
      slot(name="logo")
    .app-header__container
      .app-header__top
        .left-menu
          slot(name="left-menu")
        .search-bar
          slot(name="search-bar")
        .right-menu(v-if="$slots['right-menu']")
          slot(name="right-menu")
      .app-header__bottom
        .main-menu(v-if="$slots['main-menu']")
          slot(name="main-menu")
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class AppHeader extends Vue {
}
</script>

<style lang="scss">
.app-header {
	height: 76px;
	@apply flex bg-gray-50 items-center relative;

	&__container {
		@apply m-auto mt-0 mb-0 max-w-screen-2xl w-full;
	}
	&__top {
		@apply flex justify-between;
	}
	&__logo {
		@apply absolute m-4;
	}
}
.main-menu {
	@apply mt-2;
}
.right-menu {
	@apply justify-self-end;
}
.left-menu {
}
</style>
