<template lang="pug">
	.app-loading
		div
			ul
				li(v-for="state of appLoaders").app-loading__item
					strong {{ state.key }}
					span.loader
		div
			a(href="javascript: void 0" @click="showLoaders = !showLoaders")
				| {{ showLoaders ? 'Свернуть' : 'Показать' }}
			ul(v-show="showLoaders")
				li.app-loading__item(:class="{'active': menu}")
					| menu: {{ menu }}
				li.app-loading__item(:class="{'active': cmsPage}")
					| cmsPage: {{ cmsPage }}
				li.app-loading__item(:class="{'active': catalog}")
					| catalog: {{ catalog }}
				li.app-loading__item(:class="{'active': category}")
					| category: {{ category }}
				li.app-loading__item(:class="{'active': products}")
					| products: {{ products }}
				li.app-loading__item(:class="{'active': product}")
					| product: {{ product }}
				li.app-loading__item(:class="{'active': relatedProducts}")
					| relatedProducts: {{ relatedProducts }}
				li.app-loading__item(:class="{'active': sameProducts}")
					| sameProducts: {{ sameProducts }}
				li.app-loading__item(:class="{'active': cart}")
					| cart: {{ cart }}
				li.app-loading__item(:class="{'active': putToCart}")
					| putToCart: {{ putToCart }}
				li.app-loading__item(:class="{'active': updateCartItem}")
					| updateCartItem: {{ updateCartItem }}
				li.app-loading__item(:class="{'active': removeCartItem}")
					| removeCartItem: {{ removeCartItem }}
				li.app-loading__item(:class="{'active': wishlist}")
					| wishlist: {{ wishlist }}
				li.app-loading__item(:class="{'active': wishlistClear}")
					| wishlistClear: {{ wishlistClear }}
				li.app-loading__item(:class="{'active': wishlistRemoveItem}")
					| wishlistRemoveItem: {{ wishlistRemoveItem }}
				li.app-loading__item(:class="{'active': wishlistAddItem}")
					| wishlistAddItem: {{ wishlistAddItem }}
				li.app-loading__item(:class="{'active': updateFilters}")
					| updateFilters: {{ updateFilters }}
				li.app-loading__item(:class="{'active': filters}")
					| filters: {{ filters }}
				li.app-loading__item(:class="{'active': user}")
					| user: {{ user }}
				li.app-loading__item(:class="{'active': login}")
					| login: {{ login }}
				li.app-loading__item(:class="{'active': requestPassword}")
					| requestPassword: {{ requestPassword }}
				li.app-loading__item(:class="{'active': registration}")
					| registration: {{ registration }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator';

interface ILoadingItem {
	key: string;
	state: boolean;
}

@Component
export default class AppLoading extends Vue {
	@Prop({
		type: Object,
		default() {
			return {};
		},
	})
	loaders!: Record<string, boolean>;

	showLoaders = true;

	get menu(): boolean {
		return this.loaders.menu || false;
	}

	get cmsPage(): boolean {
		return this.loaders.cmsPage || false;
	}

	get catalog(): boolean {
		return this.loaders.catalog || false;
	}

	get category(): boolean {
		return this.loaders.category || false;
	}

	get products(): boolean {
		return this.loaders.products || false;
	}

	get product(): boolean {
		return this.loaders.product || false;
	}

	get relatedProducts(): boolean {
		return this.loaders.relatedProducts || false;
	}

	get sameProducts(): boolean {
		return this.loaders.sameProducts || false;
	}

	get cart(): boolean {
		return this.loaders.cart || false;
	}

	get putToCart(): boolean {
		return this.loaders.putToCart || false;
	}

	get updateCartItem(): boolean {
		return this.loaders.updateCartItem || false;
	}

	get removeCartItem(): boolean {
		return this.loaders.removeCartItem || false;
	}

	get wishlist(): boolean {
		return this.loaders.wishlist || false;
	}

	get wishlistClear(): boolean {
		return this.loaders.wishlistClear || false;
	}

	get wishlistRemoveItem(): boolean {
		return this.loaders.wishlistRemoveItem || false;
	}

	get wishlistAddItem(): boolean {
		return this.loaders.wishlistAddItem || false;
	}

	get updateFilters(): boolean {
		return this.loaders.updateFilters || false;
	}

	get filters(): boolean {
		return this.loaders.filters || false;
	}

	get user(): boolean {
		return this.loaders.user || false;
	}

	get login(): boolean {
		return this.loaders.login || false;
	}

	get requestPassword(): boolean {
		return this.loaders.requestPassword || false;
	}

	get registration(): boolean {
		return this.loaders.registration || false;
	}

	get appLoaders(): ILoadingItem[] {
		return Object.keys(this.loaders)
			.map((k): ILoadingItem => ({ key: k, state: this.loaders[k] }))
			.filter((i) => i.state);
	}
}
</script>

<style lang="scss">
.app-loading {
	@apply p-2 sticky top-0 left-0 mb-4 ml-4 bg-white rounded-sm shadow-xl box-border;
	z-index: 1999;
	&__item {
		@apply text-gray-600;
		&.active {
			@apply text-blue-500;
		}
	}

	.loader {
		&:after {
			min-width: 30px;
			content: '';
			display: inline-block;
			letter-spacing: 2px;
			animation: blink-animation 1.6s steps(3) infinite;
		}
	}
}

@keyframes blink-animation {
	0% {
		content: '';
	}
	20% {
		content: '.';
	}
	40% {
		content: '..';
	}
	80% {
		content: '...';
	}
}
</style>
