:root{

  // theme
  --c-bg: #f3f4f4;
  --c-primary-light: #3c5db1;
  --c-primary: #a53692;
  --c-primary-dark: #2b468a;
  --c-secondary: #ffd453;
  --f-main-family: var(--font-family--primary);

  --chkbg: var(--bc);
  --chkfg: var(--b1);
  --pc: 0 0% 100%;

    --b1: 0 0% 100%;//white
    --b2: 210 20% 98%;
    --b3: 216 12% 84%;
    --bc: 310 51% 43%; //primary
  /** border */

  /** ------ */
}
