body{
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.tm-home-title{
    font-size: 36px;
    line-height: 1.25;
    font-family: 'Intro';
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 0.05em;
}

.tm-btn__primary {
    border: solid 1px #a5188b;
    background: #a5188b;
    color: #fff;
    cursor: pointer;

    font-family: "ProximaNova";
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
  
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    text-transform: uppercase;
    padding: 10px 29px 8px;
    transition: all 0.5s linear;
  
    &:hover {
      background: transparent;
      color: #a5188b;
    }

    &:disabled {
      border-color: #e5e5e5;
      background-color: #ddd6d6;
      color: #999;
    }

    @media (max-width:640px) {
      padding: 8px 20px;
    }
  }

  .tm-adaptive-img {
    overflow: hidden;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  
    &::before {
      float: left;
      content: "";
      padding-top: 75%;
    }
  }