.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;

  @media (max-width:480px) {
    padding: 0 10px;
  }
  &--md {
    max-width: 1434px;
  }
}
.scroll-customize {
  &::-webkit-scrollbar {
    padding: 5px 5px 5px 0;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary bg-opacity-20 rounded-full;
  }
  &:hover::-webkit-scrollbar-thumb {
    @apply bg-opacity-100;
  }
}

.no-box-shadow {
  box-shadow: none !important;
}
.cms-block-stub__name {
  display: none;
}
.cms-block-stub {
  & p {
    @apply mb-5;
  }
  & ol {
    @apply list-decimal;
    padding: 20px 0px 20px 40px;
  }
  & a {
    @apply text-primary hover:opacity-60;
  }
  & table {
    color: #333;

    &>tbody>tr:first-child
    {
      border-bottom: 2px solid var(--c-primary);
    }

    &>tbody>tr:last-child td{
      border-bottom: none;
    }

    @apply table-auto;
  }
  & table > tr,
  th,
  td {
    @apply border-b p-2 text-left;
  }
}
