@font-face {
    font-family: "GothamPro";
    src: url("~/assets/fonts/GothamPro-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GothamPro";
    src: url("~/assets/fonts/GothamPro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Intro";
    src: url("~/assets/fonts/Intro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "ProximaNova";
    src: url("~/assets/fonts/ProximaNova-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "helveticanouanormal";
    src: url("~/assets/fonts/HelveticaNouaNormal.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
