.h1,
h1 {
    font-size: 36px;
    line-height: 1.25;
    font-family: 'Intro', serif;
    font-weight: 400;
    margin: 0 0 26px 0;
    text-align: center;

    @media (max-width:640px) {
      font-size: 30px;
      line-height: 1;
    }

    @media (max-width:480px) {
      font-size: 26px;
      line-height: 30px;
    }
}
.h2,
h2 {
  font-size: 32px;
  line-height: 1.25;
  font-family: 'Intro', serif;
  font-weight: 400;
  margin:  20px 0;
  text-align: center;

  @media (max-width:640px) {
    font-size: 28px;
    line-height: 1;
    margin:  14px 0;
  }

  @media (max-width:480px) {
    font-size: 22px;
    line-height: 30px;
    margin:  10px 0;
  }
}
.h3,
h3 {
  @apply text-[20px] leading-10;
}
.list-line > li {
  @apply relative flex;
  &:before {
    @apply text-primary;
    content: "—";
    margin-right: 8px;
  }
}
