<template>
  <div class="tm-blogCard__root">
    <div class="tm-blogCard__img">
      <nuxt-img width="400" height="270" loading="lazy" :src="`${String(imgId)}`"></nuxt-img>
    </div>

    <div class="tm-blogCard__date">{{date}}</div>
    <div class="tm-blogCard__title">{{title}}</div>
    <nuxt-link :to="`blog/${slug}`" class="absolute inset-0"></nuxt-link>
  </div>
</template>

<script>
export default {
  name: "BlogCard",
  props: {
    slug: String,
    title: String,
    imgId: {
      type: Number,
      default: null,
    },
    date: String,
  },
};
</script>

<style lang="scss">
.tm-blogCard__root {
  position: relative;
  display: flex;
  flex-direction: column;
}
.tm-blogCard__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
  width: 100%;
  margin-bottom: 18px;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tm-blogCard__date {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.05em;
}

.tm-blogCard__title {
  font-family: "Intro";
  font-weight: 400;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  line-height: 22px;
}
</style>