<template >
  <div class="min-h-[100vh] flex flex-col">
    <Header
      :vars="vars"
      @openAuthorizationModal="onLogin"
      :itemsCartCount="itemsCount"
      :menu="menu"
    />
    <div class="h-10 lg:h-28"></div>

    <div>
      <nuxt></nuxt>
    </div>

    <div v-if="!isFooterHidden" class="mt-auto">
      <Footer :vars="vars" :menu="footerMenu" />

      <div v-html="countersFooter" />
    </div>
  </div>
</template>
<script lang="ts">
import Header from "~/components/common/Header.vue";
import Footer from "~/components/common/Footer.vue";
import { Component, mixins, Watch } from "nuxt-property-decorator";
import AppHeader from "../components/AppHeader.vue";
import LoginModal from "../components/modals/LoginModal.vue";
import RegistrationModal from "../components/modals/RegistrationModal.vue";
import RequestPasswordModal from "../components/modals/RequestPasswordModal.vue";
import AppLoading from "../components/AppLoading.vue";
import {
  AppMixin,
  CartMixin,
  CmsMixin,
  UserAuthMixin,
  UserMixin,
  WishlistMixin,
} from "~/node_modules/sitis-nuxt/lib/mixins";

const PASS_REQUEST_TIMESTAMP = "PASS_REQUEST_TIMESTAMP";

@Component({
  head: function (this: LayoutDefault) {
    const meta: any = this.headerMetaAsync;

    return {
      titleTemplate: `%s ${this.appCfg?.suffixDivider || ""} ${
        this.appCfg?.suffixTitle || ""
      }`,
      meta: [...meta],
    };
  },

  components: {
    Header,
    Footer,
    AppHeader,
    LoginModal,
    AppLoading,
    RegistrationModal,
    RequestPasswordModal,
  },

  async fetch(this: LayoutDefault) {
    await this.getMenu();
    await this.getUser();
    await this.getCart();
    await this.getWishlist();
  },
})
export default class LayoutDefault extends mixins(
  AppMixin,
  UserMixin,
  UserAuthMixin,
  CartMixin,
  CmsMixin,
  WishlistMixin
) {
  $modal: any;

  get footerMenu(): any[] {
    // Получить меню можно двумя способами(должна быть подключена миксина CmsMixin)
    // const allMenus = this.allCmsMenus;
    // const footer['footer'].items as any[];
    const footerMenu = this.getCmsMenu("footerMenu");
    return footerMenu.items as any[];
  }

  get countersFooter() {
    return this.appCfg?.counters?.footer || "";
  }

  get isFooterHidden() {
    return this.$route.fullPath !== "/partners" ? false : true;
  }

  get headerMetaAsync() {
    const config = this.$store.state?.appState?.config;
    const headMeta = config?.head?.meta || [];

    let meta: any = [];

    headMeta.map((item: any) => {
      meta.push({ name: item.name, content: item.content });
    });

    return meta;
  }

  onLogin(): void {
    const ts = localStorage.getItem(PASS_REQUEST_TIMESTAMP);
    if (ts) {
      const now = Date.now();
      this.$modal.show("login-modal", {
        canRequestAgain: Math.floor(Math.abs(now - Number(ts)) / 1000 / 60) > 1,
      });
    } else {
      this.$modal.show("request-password-modal");
    }
  }
}
</script>

<style lang="scss">
</style>
