<template>
  <client-only>
    <s-page :breadcrumbs="breadcrumbs">
      <section class="tm-error">
        <div class="container">
          <div class="flex flex-col md:flex-row items-center">
            <div class="w-full md:w-1/2 my-20">
              <div>
                <div v-if="error.statusCode === 404" class="tm-error__title">Страница не найдена</div>
                <div v-else class="tm-error__title">Что-то пошло не так :(</div>
                <div class>
                  <span class="tm-error__text">
                    К сожалению страница не найдена или не существует,
                    пожалуйста перейдите на
                  </span>
                  <nuxt-link to="/" class="underline hover:no-underline">главную страницу</nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </s-page>
  </client-only>
</template>



<script>
import SPage from "~/components/page/SPage.vue";
export default {
  data() {
    console.log(this.error, "Error");
    return {
      breadcrumbs: [
        { path: "/", title: "Главная" },
        { path: this.$route.path, title: this?.error?.statusCode || "Ошибка" },
      ],
    };
  },
  props: ["error"],
  components: {
    SPage,
  },
};
</script>

<style lang="scss">
.tm-error {
  background: #8390a1;
}

.tm-error__title {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 40px;

  @media (max-width: 1000px) {
    font-size: 40px;
  }
}

.tm-error__text {
  @media (max-width: 1000px) {
    font-size: 16px;
  }
}
</style>