<template>
  <article class="container">
    <SPage :breadcrumbs="getBreadcrunmbs" />
    <div class="px-3 sm:px-20 mb-16">
      <div
        v-if="article.category && article"
        class="text-primary mb-2 font-semibold"
      >{{article.category}}</div>

      <h1 class="h1 !mt-12 !mb-9">{{article.title}}</h1>

      <div v-if="article.date" class="text-xs font-bold text-center leading-5">{{article.date}}</div>

      <!-- <div v-if="article.cms_page_id" class="cms__page-article">
        <cms-page :page-id="Number(article.cms_page_id)" content-only />
      </div>-->
      <div class="tm-blogArticl__sliug" v-html="getContent"></div>
    </div>
  </article>
</template>

<script>
import SPage from "~/components/page/SPage.vue";

export default {
  name: "Article",
  components: {
    SPage,
  },
  head() {
    const meta = [
      {
        hid: "metadescription",
        name: "description",
        content: this?.article?.seo_description || "description",
      },
    ];
    return {
      title: this?.article?.seo_title || "Title",
      meta,
    };
  },

  async asyncData({ $api, route }) {
    let slug = route.params.slug;

    // Получение статиь
    const article = await $api.agent.transport
      .get(`articles/${encodeURIComponent(slug)}`)
      .then((res) => {
        return res.data;
      })
      .catch((err) => {
        return null;
      });

    return { article };
  },

  computed: {
    getBreadcrunmbs() {
      let breadcrumbs = [
        { path: "/", title: "Главная" },
        { path: "/blog", title: "Блог" },
        { path: this.$route.path, title: this?.article?.title || "" },
      ];
      return breadcrumbs;
    },

    getContent() {
      return this.article.content
        ? this.article.content
        : this.article.announce;
    },
  },
};
</script>

<style lang="scss">
.cms__page-article {
  max-width: 880px;
  margin: 20px auto 0;
}

.tm-blogArticl__sliug {
  margin: 40px auto 0;
  opacity: 0.9;
  line-height: 30px;
  max-width: 880px;
  padding: 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 640px) {
    max-width: 100%;
    padding: 0;
  }

  & > iframe {
    margin-top: 30px;
    max-width: 600px;
    width: 90%;

    @media (max-width: 640px) {
      width: 100%;
      max-height: 160px;
    }
  }
}
</style>