<template>
  <section class="container !mb-8">
    <SPage :breadcrumbs="breadcrumbs" />
    <div class="h1 !my-9">Блог</div>

    <div v-if="articles" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
      <BlogCard
        :imgId="article.image_id"
        :date="article.date"
        :slug="article.slug"
        :title="article.title"
        v-for="(article,idx) in articles"
        :key="`article-idx-${idx}`"
      />
    </div>
  </section>
</template>

<script>
import SPage from "~/components/page/SPage.vue";
import BlogCard from "~/components/blog/BlogCard.vue";

export default {
  name: "Blog",

  components: {
    BlogCard,
  },
  head() {
    let meta = [
      {
        hid: "metadescription",
        name: "description",
        content: this?.seo?.description || "",
      },
    ];
    return {
      title: this?.seo?.title_tag || "Блог",
      meta: meta,
    };
  },

  data() {
    return {
      breadcrumbs: [
        { title: "Главная", path: "/" },
        { title: "Блог", path: "/Blog" },
      ],
    };
  },

  async asyncData({ $api, route }) {
    const routePath = route?.name;

    const { data: articles } = await $api.agent.transport
      .get(`articles?expand=category`)
      .catch((err) => {
        console.log(err?.request?.data?.[0]?.message) || "Ошибка сервера";
      });

    const seo = await $api.agent.transport
      .get(`cms/page-by-path?path=${routePath}`)
      .then((res) => {
        return res.data?.page || {};
      })
      .catch(() => {
        return {};
      });
    return { articles, seo };
  },

  components: {
    SPage,
  },
};
</script>

<style>
</style>