<template lang="pug">
.page
  cms-page(:page-name="path")
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

@Component
export default class MenuCmsPage extends Vue {
  get path(): string {
    return this.$route.path === "/" ? "homepage" : this.$route.path;
  }
}
</script>
