<template>
  <modal
    class="py-4 sm:py-20"
    height="auto"
    v-bind="$attrs"
    v-on="$listeners"
    :adaptive="true"
    :scrollable="true"
    classes="flex flex-col !h-full !top-0 max-w-full"
  >
    <close-modal-button :name="$attrs.name"></close-modal-button>
    <div class="ui-modal__header" v-if="$slots.header || $attrs.label">
      <h3 class="text-center" v-if="$attrs.label && !$slots.header">{{ $attrs.label }}</h3>
      <slot name="header"></slot>
    </div>
    <div
      class="ui-modal__body"
      v-if="$slots.default"
      :class="{ disabled: $attrs.loading || $attrs.disabled }"
    >
      <slot name="default"></slot>
    </div>
    <div class="ui-modal__footer" v-if="$slots.footer">
      <slot name="footer"></slot>
    </div>
  </modal>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import CloseModalButton from "../../components/modals/CloseModalButton.vue";

@Component({
  components: {
    CloseModalButton,
  },
})
export default class BaseModal extends Vue {}
</script>

<style lang="scss">
.ui-modal {
  &__header,
  &__body,
  &__footer {
    @apply p-6;
  }
  &__body {
    overflow: auto;
    height: 100%;
    @apply transition-opacity duration-300 ease-in-out;
    &.loading,
    &.disabled {
      @apply opacity-40 pointer-events-none;
    }
  }
  &__header {
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 25px;

    @apply pb-0;
  }
  &__footer {
    @apply pt-0;
  }
}
</style>
