<template lang="pug">
button.close-modal-button(@click="$modal.hide(name)")
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component
export default class CloseModalButton extends Vue {
  @Prop({ type: String }) private readonly name!: string;
}
</script>

<style lang="scss">
.close-modal-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 7px;
    top: 12px;
    width: 12px;
    height: 2px;
    transform: rotate(45deg);
    @apply bg-primary;
    transform-origin: center center;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &:hover {
    &::after,
    &::before {
      @apply opacity-80;
    }
  }
  &:focus {
    @apply outline-none;
  }
}
</style>
