<template >
  <base-modal
    :width="400"
    :adaptive="true"
    :minWidth="320"
    name="login-modal"
    height="auto"
    label="Авторизация"
    :disabled="loading.login"
    @before-open="onBeforeOpen"
  >
    <div class="w-full rounded-md shadow-dropDown flex flex-col justify-center">
      <div class="text-center mb-6">
        <div
          class="flex justify-center items-center p-4 bg-primary font-medium border border-primary text-white"
        >Пароль выслан на Ваш номер телефона</div>

        <div class="text-sm sm:text-[15px] text-body text-center mt-3 mb-1">
          Нет аккаунта?
          <button
            type="button"
            class="text-primary sm:text-[15px] text-sm ms-1 font-semibold hover:no-underline focus:outline-none"
          >&nbsp;Зарегистрироваться</button>
        </div>
      </div>
      <form class="flex flex-col justify-center" novalidate>
        <div class="flex flex-col">
          <div class="block">
            <label
              for="phone"
              class="block font-normal text-sm leading-none mb-2 cursor-pointer text-opacity-70"
            >Телеон</label>
            <input
              name="loginForm__phoneNumber"
              type="text"
              placeholder="+7(___)-___-__-__"
              v-mask="'+7(###)-###-##-##'"
              v-model="username"
              :disabled="loading.login"
              @keydown.enter="submitForm"
              class="py-2 px-4 w-full appearance-none transition duration-150 ease-in-out border text-input text-13px lg:text-sm font-body rounded placeholder-[#B3B3B3] min-h-12 text-base focus:border-2 focus:outline-none focus:border-primary h-11 md:h-12"
            />
          </div>
          <div>
            <input
              name="loginForm__password"
              type="password"
              v-model="password"
              :disabled="loading.login"
              @keydown.enter="submitForm"
              class="mt-2 py-2 px-4 w-full appearance-none transition duration-150 ease-in-out border text-input text-13px lg:text-sm font-body rounded placeholder-[#B3B3B3] min-h-12 text-base focus:border-2 focus:outline-none focus:border-primary h-11 md:h-12"
            />
          </div>
          <div v-if="userError" class="text-red text-[15px] text-center mt-3">{{userError}}</div>
          <div class="relative">
            <button
              :disabled="ssubmitIsDisabled || loading.login"
              @click="submitForm"
              data-variant="formButton"
              class="group text-[13px] md:text-sm lg:text-[[15px]] leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold text-center justify-center rounded placeholder-white focus-visible:outline-none focus:outline-none bg-primary text-white px-5 lg:px-6 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-opacity-90 focus:bg-opacity-70 h-11 md:h-12 w-full mt-2 font-[15px] md:font-[15px] tracking-normal"
              type="submit"
            >Отправить</button>
          </div>
        </div>
      </form>
      <div class="flex flex-col items-center justify-center relative text-sm">
        <span class="mt-6 text-sm opacity-70">or continue with</span>
      </div>
      <div class="flex justify-center mt-5 space-x-2.5">
        <button
          class="group flex items-center justify-center cursor-pointer h-10 w-10 rounded-full border border-skin-one hover:border-skin-primary transition-all focus:border-skin-primary focus:text-skin-primary focus:outline-none"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            class="h-4 w-4 text-opacity-50 transition-all group-hover:text-skin-primary"
            height="1em"
            width="1em"
          >
            <path
              d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
            />
          </svg>
        </button>
        <button
          class="group flex items-center justify-center cursor-pointer h-10 w-10 rounded-full border border-skin-one hover:border-skin-primary transition-all focus:border-skin-primary focus:text-skin-primary focus:outline-none"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 512 512"
            class="h-4 w-4 text-opacity-50 transition-all group-hover:text-skin-primary"
            height="1em"
            width="1em"
          >
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
            />
          </svg>
        </button>
        <button
          class="group flex items-center justify-center cursor-pointer h-10 w-10 rounded-full border border-skin-one hover:border-skin-primary transition-all focus:border-skin-primary focus:text-skin-primary focus:outline-none"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 448 512"
            class="h-4 w-4 text-opacity-50 transition-all group-hover:text-skin-primary"
            height="1em"
            width="1em"
          >
            <path
              d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
            />
          </svg>
        </button>
      </div>
    </div>
  </base-modal>

  <!-- base-modal(
  name="login-modal",
  height="auto",
  :width="420",
  label="Авторизация",
  :disabled="loading.login",
  @before-open="onBeforeOpen"
)
  .ui-alert.ui-alert--success.mt-4.text-center
    | Пароль выслан на Ваш номер телефона.
  form.mt-6(@submit.prevent)
    .form-input
      label(for="loginForm__phoneNumber") Номер телефона
      input#loginForm__phoneNumber(
        name="loginForm__phoneNumber",
        type="text",
        placeholder="+7(___)-___-__-__",
        v-mask="'+7(###)-###-##-##'",
        v-model="username",
        :disabled="loading.login",
        @keydown.enter="submitForm"
      )
    .form-input
      label(for="loginForm__password") Пароль
      input#loginForm__password(
        name="loginForm__password",
        type="password",
        v-model="password",
        :disabled="loading.login",
        @keydown.enter="submitForm"
      )
  .ui-alert.ui-alert--error.mt-4.text-center(v-if="userError")
    | {{ userError }}
  template(#footer)
    button.btn.btn--blue(:disabled="submitIsDisabled || loading.login", @click="submitForm") отправить
    p.text-sm.text-center.text-gray-400.mt-4(v-if="canRequestAgain")
  a(href="javascript: void 0", @click="toRequestPassword") Запросить пароль повторно-->
</template>

<script lang="ts">
import { Component, mixins } from "nuxt-property-decorator";
import BaseModal from "../../components/modals/BaseModal.vue";
import CloseModalButton from "../../components/modals/CloseModalButton.vue";
import { UserAuthMixin, UserMixin } from "~/node_modules/sitis-nuxt/lib/mixins";

@Component({
  components: {
    BaseModal,
    CloseModalButton,
  },
})
export default class LoginModal extends mixins(UserMixin, UserAuthMixin) {
  username = "";
  password = "";
  canRequestAgain = false;
  $modal: any;

  get submitIsDisabled(): boolean {
    return ![this.username, this.password].every(Boolean);
  }

  onBeforeOpen({
    params,
  }: {
    params?: { phoneNumber?: string; canRequestAgain?: boolean };
  }): void {
    this.username = (params && params?.phoneNumber) || "";
    this.canRequestAgain = (params && params.canRequestAgain) || false;
    this.password = "";
  }

  async submitForm(): Promise<void> {
    if (!this.submitIsDisabled) {
      const tokens = await this.login({
        username: this.username,
        password: this.password,
      });
      if (tokens) {
        this.setToken({
          sessionToken: tokens.sessionToken,
          authToken: tokens.authToken,
        });
        this.getUser();
        this.close();
      }
    }
  }

  toRequestPassword(): void {
    const params: { phoneNumber?: string } = {};
    if (this.username) {
      params.phoneNumber = this.username;
    }
    this.$modal.show("request-password-modal", params);
    this.close();
  }

  toLogin(): void {
    this.$modal.show("registration-modal");
    this.close();
  }

  close(): void {
    this.$modal.hide("login-modal");
  }
}
</script>

<style lang="scss">
// @import '../../assets/scss/buttons';
// @import '../../assets/scss/input';
// @import '../../assets/scss/alert';

// .modal-header {
//   text-align: center;
// }
</style>
