<template>
  <base-modal
    :width="800"
    :adaptive="true"
    :minWidth="320"
    :name="name"
    height="auto"
    classes="border-2 border-primary"
    @before-open="initForm"
  >
    <div class="tm-modal-form">
      <div class="tm-modal-form__title">{{ label }}</div>

      <div class="tm-modal-form__content">
        <div v-if="isName" class="tm-modal-form-item">
          <div class="tm-modal-form-item__label">Имя</div>
          <input
            v-model="form.name"
            placeholder="Введите имя"
            v-bind:class="{
            'tm-modal-form-item__input': true,
            'error': Boolean($v.form.name.$invalid && $v.form.name.$dirty)
          }"
          />
          <div
            v-if="Boolean($v.form.name.$invalid && $v.form.name.$dirty)"
            class="tm-modal-form-item__error"
          >
            <span v-if="!$v.form.name.required">Обязательно к заполнению</span>
          </div>
        </div>

        <div v-if="isEmail" class="tm-modal-form-item">
          <div class="tm-modal-form-item__label">Email</div>
          <input
            v-model="form.email"
            placeholder="Введите Email адресс"
            v-bind:class="{
            'tm-modal-form-item__input': true,
            'error': Boolean($v.form.email.$invalid && $v.form.email.$dirty)
          }"
          />
          <div
            v-if="Boolean($v.form.email.$invalid && $v.form.email.$dirty)"
            class="tm-modal-form-item__error"
          >
            <span v-if="!$v.form.email.email">Неправильный формат ввода</span>
            <span v-else-if="!$v.form.email.required">Заполните Email или телефон</span>
          </div>
        </div>

        <div v-if="isPhone" class="tm-modal-form-item">
          <div class="tm-modal-form-item__label">Телефон</div>
          <input
            v-model="form.phone"
            placeholder="Введите номер телефона"
            v-bind:class="{
            'tm-modal-form-item__input': true,
            'error': Boolean($v.form.phone.$invalid && $v.form.phone.$dirty)
          }"
            v-mask="['+7 (', /[1-6, 9]/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, ' ', /\d/, /\d/, ' ', /\d/, /\d/]"
          />
          <div
            v-if="Boolean($v.form.phone.$invalid && $v.form.phone.$dirty)"
            class="tm-modal-form-item__error"
          >
            <span v-if="!$v.form.phone.minLength">Неправильный формат ввода</span>
            <span v-else-if="!$v.form.phone.required">Заполните телефон или Email</span>
          </div>
        </div>
      </div>

      <label class="tm-modal-form__agree">
        <input v-model="isAgreement" type="checkbox" class="checkbox checkbox-primary" />
        <span>Я соглашаюсь на обработку персональных данных</span>
      </label>

      <div class="flex justify-end">
        <button class="tm-modal-form__footer" :disabled="!isAgreement" @click="submitForm">Отправить</button>
      </div>
    </div>
  </base-modal>
</template>

<script>
import {
  email,
  minLength,
  not,
  required,
  sameAs,
} from "vuelidate/lib/validators";
import BaseModal from "~/components/modals/BaseModal.vue";

export default {
  data: function () {
    return {
      form: {},

      isAgreement: false,
    };
  },

  props: {
    name: {
      type: String,
      requared: true,
    },

    label: {
      type: String,
    },

    isPhone: {
      type: Boolean,
      default: false,
    },

    isEmail: {
      type: Boolean,
      default: false,
    },

    isName: {
      type: Boolean,
      default: false,
    },
    isClosedSend: {
      type: Boolean,
      default: false,
    },
    typeQuery: {
      type: String,
    },
    categoryId: {
      type: Number,
    },
    sendUserNotification: {
      type: String,
    },
  },

  validations: function () {
    // Инициализация валидации формы
    let form = {};
    if (this.isName) {
      form.name = { required };
    }
    if (this.isEmail) {
      form.email = {
        required: Boolean(this.form.phone) ? false : required,
        email,
      };
    }
    if (this.isPhone) {
      form.phone = {
        required: Boolean(this.form.email) ? false : required,
        minLength: minLength(15),
      };
    }
    // ------------------------------

    return {
      form,
    };
  },

  components: {
    BaseModal,
  },

  methods: {
    initForm: function () {
      let newForm = {};

      if (this.isPhone) {
        newForm.phone = "";
      }
      if (this.isEmail) {
        newForm.email = "";
      }
      if (this.isName) {
        newForm.name = "";
      }

      this.form = newForm;
    },

    submitForm: async function () {
      this.$v.$touch();

      if (this.$v.$invalid) {
        return null;
      }

      // this.$store.commit("loading/setLoading", true);

      let body = {
        ...this.form,
        type: this?.typeQuery || this.name,
      };
      if (!body.email) {
        delete body.email;
      }
      if (!body.phone) {
        delete body.phone;
        body.nophone = "1";
      }
      if (!!this?.categoryId) {
        body.message = String(this?.categoryId);
      }
      if (!!this?.sendUserNotification) {
        body.sendUserNotification = "0";
      }

      const reponseSend = await this.$api.agent.transport
        .post("form/send", body)
        .then((res) => {
          return res.data;
        })
        .catch((err) => {
          return { error: err.response };
        });

      this.$modal.hide(this.name);

      this.$toast.success("Успешно отправлено");

      // this.$store.commit("loading/setLoading", false);
    },
  },
};
</script>

<style scoped lang="scss">
.tm-modal-form {
}
.tm-modal-form__title {
  font-size: 32px;
  line-height: 42px;
  color: black;
}
.tm-modal-form__content {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}
.tm-modal-form__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
  background: var(--c-primary);
  color: white;
  padding: 4px 12px;
  border: 1px solid var(--c-primary);

  &:disabled {
    border-color: #e5e5e5;
    background-color: white;
    color: #999;
  }
}

.tm-modal-form-item {
  margin-top: 16px;
}
.tm-modal-form-item__label {
  font-size: 16px;
  line-height: 16px;
  color: black;
  margin-bottom: 8px;
}
.tm-modal-form-item__input {
  height: 40px;
  max-width: 100%;
  width: 100%;
  padding: 0 10px;
  background: #fff;
  color: #000;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;

  &:focus-visible {
    outline: 2px solid var(--c-primary);
  }
}
.tm-modal-form-item__error {
  margin-top: 2px;

  font-size: 12px;
  color: #da314b;
}

.tm-modal-form__agree {
  display: flex;
  margin-top: 24px;
  align-items: center;
}
.tm-modal-form__agree input {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.tm-modal-form__agree span {
  font-size: 14px;
  line-height: 20px;
}
</style>
