<template lang="pug">
base-modal(
  :width="420",
  name="registration-modal",
  height="auto",
  label="Регистрация в интернет магазине sartoriaclub",
  :disabled="loading.registration",
  @before-open="onBeforeOpen"
)
  p.text-sm.my-2.text-center.text-gray-500 Пожалуйста, заполните поля формы для регистрации:
  form.mt-6(@submit.prevent)
    .form-input
      label(for="regForm__userName") Ваше имя
      input#regForm__userName(
        name="regForm__userName",
        type="text",
        v-model="userName"
      )
    .form-input
      label(for="regForm__phoneNumber") Номер телефона
      input#regForm__phoneNumber(
        name="regForm__phoneNumber",
        type="text",
        placeholder="+7(___)-___-__-__",
        v-mask="'+7(###)-###-##-##'",
        v-model="phoneNumber"
      )
    .ui-alert.ui-alert--error.mt-4.text-center(v-if="userError")
      | {{ userError }}
  template(#footer)
    button.btn.btn--blue(
      :disabled="submitIsDisabled || loading.registration",
      @click="submitForm"
    ) зарегистрироваться
</template>

<script lang="ts">
import { Component, mixins } from "nuxt-property-decorator";
import BaseModal from "../../components/modals/BaseModal.vue";
import { UserMixin } from "~/node_modules/sitis-nuxt/lib/mixins";

@Component({
  components: {
    BaseModal,
  },
})
export default class RegistrationModal extends mixins(UserMixin) {
  phoneNumber = "";
  userName = "";
  $modal: any;

  get submitIsDisabled(): boolean {
    return ![this.phoneNumber, this.userName].every(Boolean);
  }

  onBeforeOpen({ params }: { params?: { phoneNumber?: string } }): void {
    this.phoneNumber = (params && params?.phoneNumber) || "";
    this.userName = "";
  }

  async submitForm(): Promise<void> {
    await this.registerUser({
      phone: this.phoneNumber,
      name: this.userName,
    });
    this.$modal.show("login-modal", {
      phoneNumber: this.phoneNumber,
    });
    this.close();
  }

  close(): void {
    this.$modal.hide("registration-modal");
  }
}
</script>

<style lang="scss">
// @import '../../assets/scss/buttons';
// @import '../../assets/scss/input';

// .modal-header {
//   text-align: center;
// }

// .modal-body {
//   transition: opacity 300ms ease-in-out;
//   &.disabled {
//     opacity: .3;
//   }
// }
</style>
